<div class="row project-hot">
    <div class="container">
        <div class="project-hot">
            <div class="row title-list-news-items">
                <h1 class="text-center text-uppercase">
                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                    Dự án nổi bật
                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                </h1>
                <p>Với nỗ lực lao động, học hỏi không ngừng nghỉ, chúng tôi đã mang đến những sản phẩm độc đáo, đột phá với những yếu cầu từ quý khách hàng đã tin tưởng đến chúng tôi.</p>
            </div>
            <div class="clearfix"></div>
            <div class="list-news-items">
                <div class="bxslider">
                    {% for row in posts %}
                        {{ include('news/components/itemsGridSlide.html.twig') }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>