<div class="list-group">
    <h3 class="list-group-item list-group-item-action active text-uppercase">
        Bảng giá dịch vụ
    </h3>
    <a href="{{ path('news_show', {'slug': 'bang-bao-gia-xay-nha-tron-goi' }) }}" class="list-group-item td-list-group-item item-price" title="Bảng giá xây nhà trọn gói">
        <i class="fas fa-hand-point-right"></i><span>Bảng giá xây nhà trọn gói</span>
    </a>
    <a href="{{ path('news_show', {'slug': 'bang-bao-gia-sua-nha-tron-goi' }) }}" class="list-group-item td-list-group-item item-price" title="Bảng giá sửa nhà trọn gói">
        <i class="fas fa-hand-point-right"></i><span>Bảng giá sửa nhà trọn gói</span>
    </a>
    <a href="{{ path('news_show', {'slug': 'bang-bao-gia-xay-nha-phan-tho' }) }}" class="list-group-item td-list-group-item item-price" title="Bảng giá xây nhà phần thô">
        <i class="fas fa-hand-point-right"></i><span>Bảng giá xây nhà phần thô</span>
    </a>
    <a href="{{ path('news_show', {'slug': 'bang-bao-gia-xay-nha-tien-che' }) }}" class="list-group-item td-list-group-item item-price" title="Bảng giá xây nhà tiền chế">
        <i class="fas fa-hand-point-right"></i><span>Bảng giá xây nhà tiền chế</span>
    </a>
</div>