@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&subset=vietnamese&display=swap');

$robotoCondesed: 'Roboto Condensed', sans-serif;
$quicksand: 'Quicksand', sans-serif;
$prata: 'Prata', serif;
$arial: Arial, Helvetica, sans-serif;