footer {
    padding-top: 50px;
    position: relative;
    border-top: 3px solid $supernova;

    &::after {
        content: "";
        background-image: url("../../assets/images/background-footer.jpg");
        opacity: 0.2;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    h3.text-uppercase {
        @media (max-width: 767.98px) {
            margin-top: 20px;
        }
    }

    .footer-top {
        .about-us {
            li a {
                color: $black;
            }
        }

        .footer-company {
            padding-left: 0px;

            li {
                list-style: none;

                i {
                    color: $black;
                }
            }
        }
    }

    .footer-middle {
        padding-top: 20px;
        margin-top: 20px;
        border-top: 1px solid $supernova;

        img {
            margin: 0 auto;
            display: block;
            width: 25%;
            padding: 20px 0;
        }

        .footer-text-wrap {
            p {
                margin-bottom: 5px;
            }
        }

        .td-social-icon-wrap {
            display: inline-block;
            margin: 5px 5px 5px 0;
            
            a {
                color: $black;

                i {
                    font-size: 14px;
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    border: 1px solid $white;
                    position: relative;
                    color: $black;
                }
            }
        }
    }

    .keyword {
        padding-left: 0;
        
        li {
            list-style-type: none;
            display: inline-block;
            border: 1px solid $supernova;
            margin: 0 0 8px 0;
            padding: 0 8px;

            a {
                color: $black;
                font-size: 15px;
            }
        }
    }

    .copyright {
        height: 45px;
        line-height: 30px;
        color: $black;
        border-top: 1px solid $supernova;
        margin-top: 8px;
        padding-top: 8px;

        p, a {
            color: $black;
            font-size: 15px;
            margin-bottom: 0;

            @media (max-width: 767.98px) {
                font-size: 13px;
            }
        }
    }
}