footer {
    padding-top: 50px;
    position: relative;
    border-top: 3px solid $supernova;

    @media only screen and (max-width: 768px) {
        padding-top: 0;
    }

    &::after {
        content: "";
        background-image: url("../../assets/images/background-footer.jpg");
        opacity: 0.2;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    @media only screen and (max-width: 768px) {
        &::after {
            background-image: none;
        }
    }

    h3.text-uppercase {
        @media (max-width: 768px) {
            margin-top: 35px;
        }
    }

    .footer-top {
        .about-us {
            li a {
                color: $black;
            }
        }

        .footer-company {
            padding-left: 0px;

            li {
                list-style: none;

                i {
                    color: $black;
                }
            }
        }

        .event-footer {
            margin-top: 50px;
    
            .event-footer-item {
                h6 {
                    margin-bottom: 10px;
                    font-size: 15px;
                    font-style: italic;
    
                    a {
                        color: $black;
    
                        &:hover {
                            color: $black;
                        }
                    }
                }
            }
        }

        .fb-page,
        .fb-page span,
        .fb-page span iframe[style] {
            max-width: 100% !important;
        }
    }

    .footer-middle {
        padding-top: 20px;
        margin-top: 20px;

        .footer-text-wrap {
            p {
                margin: 0 auto 5px;
                width: 75%;

                @media only screen and (max-width: 768px) {
                    width: 100%;
                    text-align: left;
                }
            }
        }
    }

    .keyword {
        padding-left: 0;
        
        li {
            list-style-type: none;
            display: inline-block;
            border: 1px solid $supernova;
            margin: 0 0 8px 0;
            padding: 0 8px;

            a {
                color: $black;
                font-size: 15px;
            }
        }
    }

    .copyright {
        height: 45px;
        line-height: 30px;
        color: $black;
        margin-top: 8px;
        padding-top: 8px;

        p, a {
            color: $black;
            font-size: 15px;
            margin-bottom: 0;

            @media (max-width: 767.98px) {
                font-size: 13px;
            }
        }
    }
}