.header {
    padding: 0;
    /* background-color: #0053a5; */
    background-color: $white;
    color: $white;
    height: 40px;

    .col-md-6 {
        &.marquee {
            height: 40px;
        }

        span {
            line-height: 40px;
            font-size: 14px;
            margin-right: 10px;
            display: inline-block;
            float: left;

            @media only screen and (max-width: 767.98px) {
                font-size: 14px;
            }
        }

        a {
            color: $white;
            line-height: 40px;

            &:hover {
                text-decoration: none;
            }
        }

        marquee {
            font-size: 15px;
            text-transform: uppercase;
            font-family: $robotoCondesed;
            background-color: $white;
            color: #3c3950;
            margin-right: 7px;
            line-height: 40px;
            font-weight: 600;

            span {
                margin-right: 0;
                display: contents;
                font-size: 15px;
            }
        }
    }

    .header-social {
        position: relative;

        .skew-divider {
            content: "";
            background-color: #0053a5;
            background-image: linear-gradient(141deg, #0053a5 0%, #0080ff 50%, #ffffff 75%);
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            width: 10000px;
            -webkit-transform: skew(-35deg);
            -khtml-transform: skew(-35deg);
            -moz-transform: skew(-35deg);
            -ms-transform: skew(-35deg);
            -o-transform: skew(-35deg);
            transform: skew(-35deg);
        }

        .header-social-wrapper {
            position: relative;
            padding-left: 15px;

            a {
                padding: 0 5px;
            }
        }
    }
}

.banner {
    height: 120px;
    font-family: $robotoCondesed;
    background: #f1f1f1;

    #logo_top {
        padding: 0;

        #logo {
            float: left;
            padding: 0;

            a {
                img {
                    padding: 10px 0;
                    width: 69%;
                }
            }
        }
    }

    .info-top {
        margin-top: 35px;
        overflow: hidden;

        &.hotline-top {
            margin-top: 42px;

            .wp90 {
                .info-nd {
                    background: #fff;
                    border: 2px solid #FDC502;
                    padding: 0 15px;
                    border-radius: 30px;

                    p {
                        font-size: 20px;
                        line-height: 20px;
                        padding: 5px 0;
                    }
                }
            }
        }

        .wp10 {
            width: 9%;
            float: left;

            .fa,
            .fas {
                font-size: 40px;
                color: #3c3950;
                padding-right: 10px;
                border-right: 2px solid #FDC502;
            }
        }

        .wp90 {
            width: 90%;
            float: left;

            .info-nd {
                p {
                    margin-bottom: 0;
                    color: #3c3950;
                    font-family: $robotoCondesed;
                    font-size: 17px;
                    text-align: center;
                    font-weight: bold;

                    &#header-address {
                        text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
                    }
                }

                .tel {
                    font-weight: bold;
                    font-family: $robotoCondesed;
                    font-size: 23px;
                    line-height: 27px;
                    color: #3c3950;

                    &#header-company {
                        text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
                    }

                    a {
                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}