.td-scroll-up {
    cursor: pointer;
    position: fixed;
    bottom: 90px;
    right: 10px;
    width: 35px;
    height: 35px;
    background-color: #223455;
    z-index: 100;

    @media only screen and (max-width: 767.98px) {
        bottom: 90px;
        right: 10px;
    }

    i {
        position: relative;
        color: $white;
        font-size: 20px;
        display: block;
        text-align: center;
        width: 35px;
        top: 7px;
    }
}

.hotline {
    position: fixed;
    bottom: 30px;
    right: 10px;
    text-align: center;
    background-color: $white;
    color: $white;
    z-index: 100;
    font-family: $robotoCondesed;
    font-size: 20px;
    text-transform: uppercase;
    padding: 0px;
    font-weight: bold;
    border-radius: 30px;

    .inner > a {
        display: inline-block;
        font-size: 21px;
        font-weight: 700;
        color: $primaryColor;
        background: url(../../../images/icon-phone.svg) no-repeat 17px center;
        background-size: 25px;
        position: relative;
        border: 1px solid #1289b3;
        border-radius: 40px;
        padding: 6px 19px 6px 58px;
        -webkit-background-clip: text;
        -webkit-animation: color-change 1s infinite;
        -moz-animation: color-change 1s infinite;
        -o-animation: color-change 1s infinite;
        -ms-animation: color-change 1s infinite;
        animation: color-change 1s infinite;

        .phonering-alo-ph-img-circle {
            width: 25px;
            height: 25px;
            top: 8px;
            left: 16px;
            position: absolute;
            background: url(../../../images/icon-phone.svg) no-repeat 0px center;
            -webkit-animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
            animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
            -webkit-transform-origin: 50% 50%;
            -ms-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
            background-size: 25px;
        }
    }
}

@-webkit-keyframes phonering-alo-circle-anim {
    0% {
        -webkit-transform:rotate(0) scale(.5) skew(1deg);
        -webkit-opacity:.1
    }

    30% {
        -webkit-transform:rotate(0) scale(.7) skew(1deg);
        -webkit-opacity:.5
    }

    100% {
        -webkit-transform:rotate(0) scale(1) skew(1deg);
        -webkit-opacity:.1
    }
}

@-webkit-keyframes phonering-alo-circle-fill-anim {
    0% {
        -webkit-transform:rotate(0) scale(.7) skew(1deg);
        opacity:.2
    }

    50% {
        -webkit-transform:rotate(0) scale(1) skew(1deg);
        opacity:.2
    }

    100% {
        -webkit-transform:rotate(0) scale(.7) skew(1deg);
        opacity:.2
    }
}

@-webkit-keyframes phonering-alo-circle-img-anim {
    0% {
        -webkit-transform:rotate(0) scale(1) skew(1deg)
    }

    10% {
        -webkit-transform:rotate(-25deg) scale(1) skew(1deg)
    }

    20% {
        -webkit-transform:rotate(25deg) scale(1) skew(1deg)
    }

    30% {
        -webkit-transform:rotate(-25deg) scale(1) skew(1deg)
    }

    40% {
        -webkit-transform:rotate(25deg) scale(1) skew(1deg)
    }

    50% {
        -webkit-transform:rotate(0) scale(1) skew(1deg)
    }

    100% {
        -webkit-transform:rotate(0) scale(1) skew(1deg)
    }
}