.pagination {
    margin: 20px auto 0;
    display: block;
    padding: 10px 0;
    text-align: center;
    border-radius: 0;

    span {
        display: inline-block;
        padding: 0px 10px;
        margin: 0 3px;
        border: 1px solid $mercury;
        font-size: 13px;

        &.current {
            background: #3c3950;
            border: 1px solid #3c3950;
            color: $white;
        }
    }
}