{% extends 'layout.html.twig' %}

{% block structuredOrganization %}
    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Organization",
        "url": "https://xaydungminhduy.com/",
        "logo": "https://xaydungminhduy.com/assets/images/SuaNhaMinhDuy.png",
        "contactPoint": {
            "@type": "ContactPoint",
            "telephone": "+84 98 2969379",
            "contactType": "customer service"
        }
    }
    </script>
{% endblock %}

{% block structuredWebSite %}
    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "url": "https://xaydungminhduy.com/",
        "potentialAction": {
            "@type": "SearchAction",
            "target": "https://xaydungminhduy.com/search?q={search_term_string}",
            "query-input": "required name=search_term_string"
        }
    }
    </script>
{% endblock %}

{% block structuredPerson %}
    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Person",
        "name": "Xây Dựng Minh Duy",
        "url": "https://xaydungminhduy.com/",
        "sameAs": [
            "https://www.facebook.com/minhduyconstruction/",
            "https://twitter.com/xaydungminhduy",
            "https://www.linkedin.com/in/xaydungminhduy/",
            "https://plus.google.com/u/0/113879313630849593934",
            "https://www.youtube.com/channel/UCwYmkaoSIRgpZo2Us4FzleQ"
        ]
    }
    </script>
{% endblock %}

{% block body %}
    <div class="wrapper-container">
        <div class="wrapper-container-item slogin">
            <div class="container slogin-title">
                <div class="col-md-9"><p>Bạn đang muốn thi công một dự án? Hãy liên hệ ngay với chúng tôi để được tư vấn miễn phí!</p></div>
                <div class="col-md-3"><a href="tel:0902201389"> <i class="fa fa-phone" aria-hidden="true"></i> 0902201389</a></div>
            </div>
        </div>

        <div class="wrapper-container-item prices-table">
            <div class="container">
                <div class="row marketing">
                    <div class="col-md-3 col-sm-3">
                        <div class="intro">
                            <div class="img">
                                <div class="mid-img">
                                    <a href="dich-vu/dich-vu-sua-nha-tron-goi-tai-tphcm" title="Dịch vụ sửa nhà trọn gói tại TPHCM">
                                        <div class="center-img">
                                            <img alt="Dịch vụ sửa nhà trọn gói tại TPHCM" class="img-responsive" src="http://xaydungkimanh.com/wp-content/uploads/2017/01/xay-nha-tron-goi-phoi-canh.jpg" />
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="text">
                                <a href="dich-vu/dich-vu-sua-nha-tron-goi-tai-tphcm" title="Dịch vụ sửa nhà trọn gói tại TPHCM">Dịch vụ sửa nhà trọn gói tại TPHCM</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <div class="intro hover09">
                            <div class="img">
                                <div class="mid-img">
                                    <a href="dich-vu/dich-vu-sua-nha-tron-goi-tai-tphcm" title="Dịch vụ sửa nhà trọn gói tại TPHCM">
                                        <div class="center-img">
                                            <img alt="Dịch vụ sửa nhà trọn gói tại TPHCM" class="img-responsive" src="http://xaydungkimanh.com/wp-content/uploads/2017/01/xay-nha-tron-goi-phoi-canh.jpg" />
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="text">
                                <a href="dich-vu/dich-vu-sua-nha-tron-goi-tai-tphcm" title="Dịch vụ sửa nhà trọn gói tại TPHCM">Dịch vụ sửa nhà trọn gói tại TPHCM</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <div class="intro hover09">
                            <div class="img">
                                <div class="mid-img">
                                    <a href="dich-vu/dich-vu-sua-nha-tron-goi-tai-tphcm" title="Dịch vụ sửa nhà trọn gói tại TPHCM">
                                        <div class="center-img">
                                            <img alt="Dịch vụ sửa nhà trọn gói tại TPHCM" class="img-responsive" src="http://xaydungkimanh.com/wp-content/uploads/2017/01/xay-nha-tron-goi-phoi-canh.jpg" />
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="text">
                                <a href="dich-vu/dich-vu-sua-nha-tron-goi-tai-tphcm" title="Dịch vụ sửa nhà trọn gói tại TPHCM">Dịch vụ sửa nhà trọn gói tại TPHCM</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <div class="intro hover09">
                            <div class="img">
                                <div class="mid-img">
                                    <a href="dich-vu/dich-vu-sua-nha-tron-goi-tai-tphcm" title="Dịch vụ sửa nhà trọn gói tại TPHCM">
                                        <div class="center-img">
                                            <img alt="Dịch vụ sửa nhà trọn gói tại TPHCM" class="img-responsive" src="http://xaydungkimanh.com/wp-content/uploads/2017/01/xay-nha-tron-goi-phoi-canh.jpg" />
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="text">
                                <a href="dich-vu/dich-vu-sua-nha-tron-goi-tai-tphcm" title="Dịch vụ sửa nhà trọn gói tại TPHCM">Dịch vụ sửa nhà trọn gói tại TPHCM</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="wrapper-container-item why-choose-us">
            <div class="container">
                <div class="row">
                    <h2 class="text-center text-uppercase why-choose-us-title">Tại sao chọn chúng tôi</h2>
                </div>
                <div class="row row-why-choose-us-1">
                    <div class="col-md-4 col-sm-6">
                        <div class="media">
                            <div class="media-left">
                                <span><i class="fa fa-balance-scale"></i></span>
                            </div>
                            <div class="media-body">
                                <h2 class="media-heading text-uppercase">Giá cả hợp lý, cạnh tranh</h2>
                                <div class="marketing-container">
                                    <p>Lorem ipsum dolor sit ametcon sectetur adipisicing elit, sed doiusmod tempor incidi labore et dolore magna aliqua.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="media">
                            <div class="media-left">
                                <span><i class="fa fa-balance-scale"></i></span>
                            </div>
                            <div class="media-body">
                                <h2 class="media-heading text-uppercase">Giá cả hợp lý, cạnh tranh</h2>
                                <div class="marketing-container">
                                    <p>Lorem ipsum dolor sit ametcon sectetur adipisicing elit, sed doiusmod tempor incidi labore et dolore magna aliqua.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="media">
                            <div class="media-left">
                                <span><i class="fa fa-balance-scale"></i></span>
                            </div>
                            <div class="media-body">
                                <h2 class="media-heading text-uppercase">Giá cả hợp lý, cạnh tranh</h2>
                                <div class="marketing-container">
                                    <p>Lorem ipsum dolor sit ametcon sectetur adipisicing elit, sed doiusmod tempor incidi labore et dolore magna aliqua.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-why-choose-us-2">
                    <div class="col-md-4 col-sm-6">
                        <div class="media">
                            <div class="media-left">
                                <span><i class="fa fa-balance-scale"></i></span>
                            </div>
                            <div class="media-body">
                                <h2 class="media-heading text-uppercase">Giá cả hợp lý, cạnh tranh</h2>
                                <div class="marketing-container">
                                    <p>Lorem ipsum dolor sit ametcon sectetur adipisicing elit, sed doiusmod tempor incidi labore et dolore magna aliqua.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="media">
                            <div class="media-left">
                                <span><i class="fa fa-balance-scale"></i></span>
                            </div>
                            <div class="media-body">
                                <h2 class="media-heading text-uppercase">Giá cả hợp lý, cạnh tranh</h2>
                                <div class="marketing-container">
                                    <p>Lorem ipsum dolor sit ametcon sectetur adipisicing elit, sed doiusmod tempor incidi labore et dolore magna aliqua.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="media">
                            <div class="media-left">
                                <span><i class="fa fa-balance-scale"></i></span>
                            </div>
                            <div class="media-body">
                                <h2 class="media-heading text-uppercase">Giá cả hợp lý, cạnh tranh</h2>
                                <div class="marketing-container">
                                    <p>Lorem ipsum dolor sit ametcon sectetur adipisicing elit, sed doiusmod tempor incidi labore et dolore magna aliqua.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% for blockOnHomepage in blocksOnHomepage %}
        <div class="wrapper-container-item">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 title-list-news-items">
                        <h1 class="text-center text-uppercase">{{ blockOnHomepage.category.getName() }}</h1>
                        <span class="text-center block-underline"></span>
                        <p>{{ blockOnHomepage.description }}</p>
                    </div>
                    <div class="col-md-12 list-news-items">
                        <div class="row">
                            {% for row in blockOnHomepage.posts %}
                                {{ include('news/components/itemsGridHomepage.html.twig') }}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

        <div class="wrapper-container-item">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 title-list-news-items">
                        <h1 class="text-center text-uppercase">Xây dựng</h1>
                        <p>Với đội ngũ KTS giỏi sẽ mang tới cho quý vị gói thiết kế nhà biệt thự đẹp, sang trọng từ hiện đại tới cổ điển</p>
                    </div>

                    <div class="col-md-12 list-news-items">
                        <div class="row">
                            <div class="col-xs-12 col-sm-4 col-md-3 news-item">
                                <div class="news-item-wrapper">
                                    <a class="media-thumb" href="/xay-nha-tron-goi-tai-tp-hcm.html" title="Dịch vụ xây nhà trọn gói tại TP .HCM">
                                        <img alt="Dịch vụ xây nhà trọn gói tại TP .HCM"
                                                class="mr-3 img-thumbnail"
                                                src="http://xaydungkimanh.com/wp-content/uploads/2019/04/nh-324x160.jpg"
                                                srcset="http://xaydungkimanh.com/wp-content/uploads/2019/04/nh-324x160.jpg 1024w,
                                                        http://xaydungkimanh.com/wp-content/uploads/2019/04/nh-324x160.jpg 600w">
                                    </a>
                                    <div class="media-body">
                                        <h5 class="mt-0 mb-1">
                                            <a href="/xay-nha-tron-goi-tai-tp-hcm.html" title="Dịch vụ xây nhà trọn gói tại TP .HCM">
                                                <span>Dịch vụ xây nhà trọn gói tại TP .HCM</span>
                                            </a>
                                        </h5>
                                        <p>Xây nhà trọn gói của chúng tôi hình thành nhằm giúp giải quyết những khó khăn của quý</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-3 news-item">
                                <div class="news-item-wrapper">
                                    <a class="media-thumb" href="/xay-nha-tron-goi-la-gi-nhung-dieu-can-biet-khi-xay-nha-tron-goi.html" title="Xây nhà trọn gói là gì? Những điều cần biết khi xây nhà trọn gói">
                                        <img alt="Xây nhà trọn gói là gì? Những điều cần biết khi xây nhà trọn gói" class="mr-3 img-thumbnail" src="http://xaydungxuyenviet.com/media/cache/news_514_330/uploads/images/news/5c8f5b237135b_xay-nha-tron-goi-la-gi.jpg" srcset="http://xaydungxuyenviet.com/media/cache/news_260_195/uploads/images/news/5c8f5b237135b_xay-nha-tron-goi-la-gi.jpg 1024w,
                                                                http://xaydungxuyenviet.com/media/cache/news_514_330/uploads/images/news/5c8f5b237135b_xay-nha-tron-goi-la-gi.jpg 600w">
                                    </a>
                                    <div class="media-body">
                                        <h5 class="mt-0 mb-1">
                                            <a href="/xay-nha-tron-goi-la-gi-nhung-dieu-can-biet-khi-xay-nha-tron-goi.html" title="Xây nhà trọn gói là gì? Những điều cần biết khi xây nhà trọn gói">
                                                <span>Xây nhà trọn gói là gì? Những điều cần biết khi xây nhà trọn gói</span>
                                            </a>
                                        </h5>
                                        <p>Xây nhà trọn gói là hình thức chủ đầu tư thuê nhà thầu phụ trách toàn bộ việc phá dỡ,</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-3 news-item">
                                <div class="news-item-wrapper">
                                    <a class="media-thumb" href="/xay-nha-tron-goi-bao-nhieu-tien-mot-met-vuong.html" title="Xây nhà trọn gói bao nhiêu tiền một mét vuông?">
                                        <img alt="Xây nhà trọn gói bao nhiêu tiền một mét vuông?" class="mr-3 img-thumbnail" src="http://xaydungxuyenviet.com/media/cache/news_514_330/uploads/images/news/5c93607c7fbac_gia-xay-nha-tron-goi.jpg" srcset="http://xaydungxuyenviet.com/media/cache/news_260_195/uploads/images/news/5c93607c7fbac_gia-xay-nha-tron-goi.jpg 1024w,
                                                                http://xaydungxuyenviet.com/media/cache/news_514_330/uploads/images/news/5c93607c7fbac_gia-xay-nha-tron-goi.jpg 600w">
                                    </a>
                                    <div class="media-body">
                                        <h5 class="mt-0 mb-1">
                                            <a href="/xay-nha-tron-goi-bao-nhieu-tien-mot-met-vuong.html" title="Xây nhà trọn gói bao nhiêu tiền một mét vuông?">
                                                <span>Xây nhà trọn gói bao nhiêu tiền một mét vuông?</span>
                                            </a>
                                        </h5>
                                        <p>Cách tốt nhất là bạn cần phải có những phương án dự trù. Dưới đây là cách tính chi ph</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-3 news-item">
                                <div class="news-item-wrapper">
                                    <a class="media-thumb" href="/nhung-loi-ich-khi-chon-goi-thau-xay-nha-tron-goi.html" title="Những lợi ích khi chọn gói thầu xây nhà trọn gói">
                                        <img alt="Những lợi ích khi chọn gói thầu xây nhà trọn gói" class="mr-3 img-thumbnail" src="http://xaydungxuyenviet.com/media/cache/news_514_330/uploads/images/news/5c93618c05203_loi-ich-xay-nha-tron-goi.jpg" srcset="http://xaydungxuyenviet.com/media/cache/news_260_195/uploads/images/news/5c93618c05203_loi-ich-xay-nha-tron-goi.jpg 1024w,
                                                                http://xaydungxuyenviet.com/media/cache/news_514_330/uploads/images/news/5c93618c05203_loi-ich-xay-nha-tron-goi.jpg 600w">
                                    </a>
                                    <div class="media-body">
                                        <h5 class="mt-0 mb-1">
                                            <a href="/nhung-loi-ich-khi-chon-goi-thau-xay-nha-tron-goi.html" title="Những lợi ích khi chọn gói thầu xây nhà trọn gói">
                                                <span>Những lợi ích khi chọn gói thầu xây nhà trọn gói</span>
                                            </a>
                                        </h5>
                                        <p>Xây nhà trọn gói là hình thức xây nhà mà chủ nhà giao cho bên nhà thầu xây dựng thi c</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="wrapper-container-item">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 title-list-news-items">
                        <h1 class="text-center text-uppercase">Xây dựng</h1>
                        <p>Với đội ngũ KTS giỏi sẽ mang tới cho quý vị gói thiết kế nhà biệt thự đẹp, sang trọng từ hiện đại tới cổ điển</p>
                    </div>

                    <div class="col-md-12 list-news-items">
                        <div class="row">
                            <div class="col-xs-12 col-sm-4 col-md-3 news-item">
                                <div class="news-item-wrapper">
                                    <a class="media-thumb" href="/xay-nha-tron-goi-tai-tp-hcm.html" title="Dịch vụ xây nhà trọn gói tại TP .HCM">
                                        <img alt="Dịch vụ xây nhà trọn gói tại TP .HCM" class="mr-3 img-thumbnail" src="http://xaydungxuyenviet.com/media/cache/news_514_330/uploads/images/news/5c8f476c1f5d9_xay-nha-tron-goi-xuyen-viet.jpg" srcset="http://xaydungxuyenviet.com/media/cache/news_260_195/uploads/images/news/5c8f476c1f5d9_xay-nha-tron-goi-xuyen-viet.jpg 1024w,
                                                                http://xaydungxuyenviet.com/media/cache/news_514_330/uploads/images/news/5c8f476c1f5d9_xay-nha-tron-goi-xuyen-viet.jpg 600w">
                                    </a>
                                    <div class="media-body">
                                        <h5 class="mt-0 mb-1">
                                            <a href="/xay-nha-tron-goi-tai-tp-hcm.html" title="Dịch vụ xây nhà trọn gói tại TP .HCM">
                                                <span>Dịch vụ xây nhà trọn gói tại TP .HCM</span>
                                            </a>
                                        </h5>
                                        <p>Xây nhà trọn gói của chúng tôi hình thành nhằm giúp giải quyết những khó khăn của quý</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-3 news-item">
                                <div class="news-item-wrapper">
                                    <a class="media-thumb" href="/xay-nha-tron-goi-la-gi-nhung-dieu-can-biet-khi-xay-nha-tron-goi.html" title="Xây nhà trọn gói là gì? Những điều cần biết khi xây nhà trọn gói">
                                        <img alt="Xây nhà trọn gói là gì? Những điều cần biết khi xây nhà trọn gói" class="mr-3 img-thumbnail" src="http://xaydungxuyenviet.com/media/cache/news_514_330/uploads/images/news/5c8f5b237135b_xay-nha-tron-goi-la-gi.jpg" srcset="http://xaydungxuyenviet.com/media/cache/news_260_195/uploads/images/news/5c8f5b237135b_xay-nha-tron-goi-la-gi.jpg 1024w,
                                                                http://xaydungxuyenviet.com/media/cache/news_514_330/uploads/images/news/5c8f5b237135b_xay-nha-tron-goi-la-gi.jpg 600w">
                                    </a>
                                    <div class="media-body">
                                        <h5 class="mt-0 mb-1">
                                            <a href="/xay-nha-tron-goi-la-gi-nhung-dieu-can-biet-khi-xay-nha-tron-goi.html" title="Xây nhà trọn gói là gì? Những điều cần biết khi xây nhà trọn gói">
                                                <span>Xây nhà trọn gói là gì? Những điều cần biết khi xây nhà trọn gói</span>
                                            </a>
                                        </h5>
                                        <p>Xây nhà trọn gói là hình thức chủ đầu tư thuê nhà thầu phụ trách toàn bộ việc phá dỡ,</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-3 news-item">
                                <div class="news-item-wrapper">
                                    <a class="media-thumb" href="/xay-nha-tron-goi-bao-nhieu-tien-mot-met-vuong.html" title="Xây nhà trọn gói bao nhiêu tiền một mét vuông?">
                                        <img alt="Xây nhà trọn gói bao nhiêu tiền một mét vuông?" class="mr-3 img-thumbnail" src="http://xaydungxuyenviet.com/media/cache/news_514_330/uploads/images/news/5c93607c7fbac_gia-xay-nha-tron-goi.jpg" srcset="http://xaydungxuyenviet.com/media/cache/news_260_195/uploads/images/news/5c93607c7fbac_gia-xay-nha-tron-goi.jpg 1024w,
                                                                http://xaydungxuyenviet.com/media/cache/news_514_330/uploads/images/news/5c93607c7fbac_gia-xay-nha-tron-goi.jpg 600w">
                                    </a>
                                    <div class="media-body">
                                        <h5 class="mt-0 mb-1">
                                            <a href="/xay-nha-tron-goi-bao-nhieu-tien-mot-met-vuong.html" title="Xây nhà trọn gói bao nhiêu tiền một mét vuông?">
                                                <span>Xây nhà trọn gói bao nhiêu tiền một mét vuông?</span>
                                            </a>
                                        </h5>
                                        <p>Cách tốt nhất là bạn cần phải có những phương án dự trù. Dưới đây là cách tính chi ph</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-3 news-item">
                                <div class="news-item-wrapper">
                                    <a class="media-thumb" href="/nhung-loi-ich-khi-chon-goi-thau-xay-nha-tron-goi.html" title="Những lợi ích khi chọn gói thầu xây nhà trọn gói">
                                        <img alt="Những lợi ích khi chọn gói thầu xây nhà trọn gói" class="mr-3 img-thumbnail" src="http://xaydungxuyenviet.com/media/cache/news_514_330/uploads/images/news/5c93618c05203_loi-ich-xay-nha-tron-goi.jpg" srcset="http://xaydungxuyenviet.com/media/cache/news_260_195/uploads/images/news/5c93618c05203_loi-ich-xay-nha-tron-goi.jpg 1024w,
                                                                http://xaydungxuyenviet.com/media/cache/news_514_330/uploads/images/news/5c93618c05203_loi-ich-xay-nha-tron-goi.jpg 600w">
                                    </a>
                                    <div class="media-body">
                                        <h5 class="mt-0 mb-1">
                                            <a href="/nhung-loi-ich-khi-chon-goi-thau-xay-nha-tron-goi.html" title="Những lợi ích khi chọn gói thầu xây nhà trọn gói">
                                                <span>Những lợi ích khi chọn gói thầu xây nhà trọn gói</span>
                                            </a>
                                        </h5>
                                        <p>Xây nhà trọn gói là hình thức xây nhà mà chủ nhà giao cho bên nhà thầu xây dựng thi c</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="wrapper-container-item">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 title-list-news-items">
                        <h1 class="text-center text-uppercase">Xây dựng</h1>
                        <p>Với đội ngũ KTS giỏi sẽ mang tới cho quý vị gói thiết kế nhà biệt thự đẹp, sang trọng từ hiện đại tới cổ điển</p>
                    </div>

                    <div class="col-md-12 list-news-items">
                        <div class="row">
                            <div class="col-xs-12 col-sm-4 col-md-3 news-item">
                                <div class="news-item-wrapper">
                                    <a class="media-thumb" href="/xay-nha-tron-goi-tai-tp-hcm.html" title="Dịch vụ xây nhà trọn gói tại TP .HCM">
                                        <img alt="Dịch vụ xây nhà trọn gói tại TP .HCM" class="mr-3 img-thumbnail" src="http://xaydungxuyenviet.com/media/cache/news_514_330/uploads/images/news/5c8f476c1f5d9_xay-nha-tron-goi-xuyen-viet.jpg" srcset="http://xaydungxuyenviet.com/media/cache/news_260_195/uploads/images/news/5c8f476c1f5d9_xay-nha-tron-goi-xuyen-viet.jpg 1024w,
                                                                http://xaydungxuyenviet.com/media/cache/news_514_330/uploads/images/news/5c8f476c1f5d9_xay-nha-tron-goi-xuyen-viet.jpg 600w">
                                    </a>
                                    <div class="media-body">
                                        <h5 class="mt-0 mb-1">
                                            <a href="/xay-nha-tron-goi-tai-tp-hcm.html" title="Dịch vụ xây nhà trọn gói tại TP .HCM">
                                                <span>Dịch vụ xây nhà trọn gói tại TP .HCM</span>
                                            </a>
                                        </h5>
                                        <p>Xây nhà trọn gói của chúng tôi hình thành nhằm giúp giải quyết những khó khăn của quý</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-3 news-item">
                                <div class="news-item-wrapper">
                                    <a class="media-thumb" href="/xay-nha-tron-goi-la-gi-nhung-dieu-can-biet-khi-xay-nha-tron-goi.html" title="Xây nhà trọn gói là gì? Những điều cần biết khi xây nhà trọn gói">
                                        <img alt="Xây nhà trọn gói là gì? Những điều cần biết khi xây nhà trọn gói" class="mr-3 img-thumbnail" src="http://xaydungxuyenviet.com/media/cache/news_514_330/uploads/images/news/5c8f5b237135b_xay-nha-tron-goi-la-gi.jpg" srcset="http://xaydungxuyenviet.com/media/cache/news_260_195/uploads/images/news/5c8f5b237135b_xay-nha-tron-goi-la-gi.jpg 1024w,
                                                                http://xaydungxuyenviet.com/media/cache/news_514_330/uploads/images/news/5c8f5b237135b_xay-nha-tron-goi-la-gi.jpg 600w">
                                    </a>
                                    <div class="media-body">
                                        <h5 class="mt-0 mb-1">
                                            <a href="/xay-nha-tron-goi-la-gi-nhung-dieu-can-biet-khi-xay-nha-tron-goi.html" title="Xây nhà trọn gói là gì? Những điều cần biết khi xây nhà trọn gói">
                                                <span>Xây nhà trọn gói là gì? Những điều cần biết khi xây nhà trọn gói</span>
                                            </a>
                                        </h5>
                                        <p>Xây nhà trọn gói là hình thức chủ đầu tư thuê nhà thầu phụ trách toàn bộ việc phá dỡ,</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-3 news-item">
                                <div class="news-item-wrapper">
                                    <a class="media-thumb" href="/xay-nha-tron-goi-bao-nhieu-tien-mot-met-vuong.html" title="Xây nhà trọn gói bao nhiêu tiền một mét vuông?">
                                        <img alt="Xây nhà trọn gói bao nhiêu tiền một mét vuông?" class="mr-3 img-thumbnail" src="http://xaydungxuyenviet.com/media/cache/news_514_330/uploads/images/news/5c93607c7fbac_gia-xay-nha-tron-goi.jpg" srcset="http://xaydungxuyenviet.com/media/cache/news_260_195/uploads/images/news/5c93607c7fbac_gia-xay-nha-tron-goi.jpg 1024w,
                                                                http://xaydungxuyenviet.com/media/cache/news_514_330/uploads/images/news/5c93607c7fbac_gia-xay-nha-tron-goi.jpg 600w">
                                    </a>
                                    <div class="media-body">
                                        <h5 class="mt-0 mb-1">
                                            <a href="/xay-nha-tron-goi-bao-nhieu-tien-mot-met-vuong.html" title="Xây nhà trọn gói bao nhiêu tiền một mét vuông?">
                                                <span>Xây nhà trọn gói bao nhiêu tiền một mét vuông?</span>
                                            </a>
                                        </h5>
                                        <p>Cách tốt nhất là bạn cần phải có những phương án dự trù. Dưới đây là cách tính chi ph</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-3 news-item">
                                <div class="news-item-wrapper">
                                    <a class="media-thumb" href="/nhung-loi-ich-khi-chon-goi-thau-xay-nha-tron-goi.html" title="Những lợi ích khi chọn gói thầu xây nhà trọn gói">
                                        <img alt="Những lợi ích khi chọn gói thầu xây nhà trọn gói" class="mr-3 img-thumbnail" src="http://xaydungxuyenviet.com/media/cache/news_514_330/uploads/images/news/5c93618c05203_loi-ich-xay-nha-tron-goi.jpg" srcset="http://xaydungxuyenviet.com/media/cache/news_260_195/uploads/images/news/5c93618c05203_loi-ich-xay-nha-tron-goi.jpg 1024w,
                                                                http://xaydungxuyenviet.com/media/cache/news_514_330/uploads/images/news/5c93618c05203_loi-ich-xay-nha-tron-goi.jpg 600w">
                                    </a>
                                    <div class="media-body">
                                        <h5 class="mt-0 mb-1">
                                            <a href="/nhung-loi-ich-khi-chon-goi-thau-xay-nha-tron-goi.html" title="Những lợi ích khi chọn gói thầu xây nhà trọn gói">
                                                <span>Những lợi ích khi chọn gói thầu xây nhà trọn gói</span>
                                            </a>
                                        </h5>
                                        <p>Xây nhà trọn gói là hình thức xây nhà mà chủ nhà giao cho bên nhà thầu xây dựng thi c</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="wrapper-container-item">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 title-list-news-items">
                        <h1 class="text-center text-uppercase">Xây dựng</h1>
                        <p>Với đội ngũ KTS giỏi sẽ mang tới cho quý vị gói thiết kế nhà biệt thự đẹp, sang trọng từ hiện đại tới cổ điển</p>
                    </div>

                    <div class="col-md-12 list-news-items">
                        <div class="row">
                            <div class="col-xs-12 col-sm-4 col-md-3 news-item">
                                <div class="news-item-wrapper">
                                    <a class="media-thumb" href="/xay-nha-tron-goi-tai-tp-hcm.html" title="Dịch vụ xây nhà trọn gói tại TP .HCM">
                                        <img alt="Dịch vụ xây nhà trọn gói tại TP .HCM" class="mr-3 img-thumbnail" src="http://xaydungxuyenviet.com/media/cache/news_514_330/uploads/images/news/5c8f476c1f5d9_xay-nha-tron-goi-xuyen-viet.jpg" srcset="http://xaydungxuyenviet.com/media/cache/news_260_195/uploads/images/news/5c8f476c1f5d9_xay-nha-tron-goi-xuyen-viet.jpg 1024w,
                                                                http://xaydungxuyenviet.com/media/cache/news_514_330/uploads/images/news/5c8f476c1f5d9_xay-nha-tron-goi-xuyen-viet.jpg 600w">
                                    </a>
                                    <div class="media-body">
                                        <h5 class="mt-0 mb-1">
                                            <a href="/xay-nha-tron-goi-tai-tp-hcm.html" title="Dịch vụ xây nhà trọn gói tại TP .HCM">
                                                <span>Dịch vụ xây nhà trọn gói tại TP .HCM</span>
                                            </a>
                                        </h5>
                                        <p>Xây nhà trọn gói của chúng tôi hình thành nhằm giúp giải quyết những khó khăn của quý</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-3 news-item">
                                <div class="news-item-wrapper">
                                    <a class="media-thumb" href="/xay-nha-tron-goi-la-gi-nhung-dieu-can-biet-khi-xay-nha-tron-goi.html" title="Xây nhà trọn gói là gì? Những điều cần biết khi xây nhà trọn gói">
                                        <img alt="Xây nhà trọn gói là gì? Những điều cần biết khi xây nhà trọn gói" class="mr-3 img-thumbnail" src="http://xaydungxuyenviet.com/media/cache/news_514_330/uploads/images/news/5c8f5b237135b_xay-nha-tron-goi-la-gi.jpg" srcset="http://xaydungxuyenviet.com/media/cache/news_260_195/uploads/images/news/5c8f5b237135b_xay-nha-tron-goi-la-gi.jpg 1024w,
                                                                http://xaydungxuyenviet.com/media/cache/news_514_330/uploads/images/news/5c8f5b237135b_xay-nha-tron-goi-la-gi.jpg 600w">
                                    </a>
                                    <div class="media-body">
                                        <h5 class="mt-0 mb-1">
                                            <a href="/xay-nha-tron-goi-la-gi-nhung-dieu-can-biet-khi-xay-nha-tron-goi.html" title="Xây nhà trọn gói là gì? Những điều cần biết khi xây nhà trọn gói">
                                                <span>Xây nhà trọn gói là gì? Những điều cần biết khi xây nhà trọn gói</span>
                                            </a>
                                        </h5>
                                        <p>Xây nhà trọn gói là hình thức chủ đầu tư thuê nhà thầu phụ trách toàn bộ việc phá dỡ,</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-3 news-item">
                                <div class="news-item-wrapper">
                                    <a class="media-thumb" href="/xay-nha-tron-goi-bao-nhieu-tien-mot-met-vuong.html" title="Xây nhà trọn gói bao nhiêu tiền một mét vuông?">
                                        <img alt="Xây nhà trọn gói bao nhiêu tiền một mét vuông?" class="mr-3 img-thumbnail" src="http://xaydungxuyenviet.com/media/cache/news_514_330/uploads/images/news/5c93607c7fbac_gia-xay-nha-tron-goi.jpg" srcset="http://xaydungxuyenviet.com/media/cache/news_260_195/uploads/images/news/5c93607c7fbac_gia-xay-nha-tron-goi.jpg 1024w,
                                                                http://xaydungxuyenviet.com/media/cache/news_514_330/uploads/images/news/5c93607c7fbac_gia-xay-nha-tron-goi.jpg 600w">
                                    </a>
                                    <div class="media-body">
                                        <h5 class="mt-0 mb-1">
                                            <a href="/xay-nha-tron-goi-bao-nhieu-tien-mot-met-vuong.html" title="Xây nhà trọn gói bao nhiêu tiền một mét vuông?">
                                                <span>Xây nhà trọn gói bao nhiêu tiền một mét vuông?</span>
                                            </a>
                                        </h5>
                                        <p>Cách tốt nhất là bạn cần phải có những phương án dự trù. Dưới đây là cách tính chi ph</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-3 news-item">
                                <div class="news-item-wrapper">
                                    <a class="media-thumb" href="/nhung-loi-ich-khi-chon-goi-thau-xay-nha-tron-goi.html" title="Những lợi ích khi chọn gói thầu xây nhà trọn gói">
                                        <img alt="Những lợi ích khi chọn gói thầu xây nhà trọn gói" class="mr-3 img-thumbnail" src="http://xaydungxuyenviet.com/media/cache/news_514_330/uploads/images/news/5c93618c05203_loi-ich-xay-nha-tron-goi.jpg" srcset="http://xaydungxuyenviet.com/media/cache/news_260_195/uploads/images/news/5c93618c05203_loi-ich-xay-nha-tron-goi.jpg 1024w,
                                                                http://xaydungxuyenviet.com/media/cache/news_514_330/uploads/images/news/5c93618c05203_loi-ich-xay-nha-tron-goi.jpg 600w">
                                    </a>
                                    <div class="media-body">
                                        <h5 class="mt-0 mb-1">
                                            <a href="/nhung-loi-ich-khi-chon-goi-thau-xay-nha-tron-goi.html" title="Những lợi ích khi chọn gói thầu xây nhà trọn gói">
                                                <span>Những lợi ích khi chọn gói thầu xây nhà trọn gói</span>
                                            </a>
                                        </h5>
                                        <p>Xây nhà trọn gói là hình thức xây nhà mà chủ nhà giao cho bên nhà thầu xây dựng thi c</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row project-hot">
                <div class="col-md-12 title-list-news-items">
                    <h1 class="text-center text-uppercase">Dự án nổi bật</h1>
                    <p>Với đội ngũ KTS giỏi sẽ mang tới cho quý vị gói thiết kế nhà biệt thự đẹp, sang trọng từ hiện đại tới cổ điển</p>
                </div>

                <div class="clearfix"></div>

                <div class="list-news-items">
                    <div class="bx-wrapper" style="max-width: 100%;">
                        <div aria-live="polite" class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 343px;">
                            <div class="bxslider" style="width: 6215%; position: relative; transition-duration: 0s; transform: translate3d(-1460px, 0px, 0px);">
                                <div aria-hidden="true" class="news-item bx-clone" style="float: left; list-style: none; position: relative; width: 1140px; margin-right: 30px;">
                                    <div class="news-item-wrapper">
                                        <a class="media-thumb" href="/du-an-cai-tao-sua-chua-nha-thay-long-q-3-hcm.html" title="Dự án cải tạo, sửa chữa nhà Thầy Long, Q.3, HCM">
                                            <img alt="Dự án cải tạo, sửa chữa nhà Thầy Long, Q.3, HCM" class="mr-3 img-thumbnail" src="http://xaydungxuyenviet.com/media/cache/news_514_330/uploads/images/news/5c9880ca22877_sua-nha-tron-goi-quan-3.jpg" srcset="http://xaydungxuyenviet.com/media/cache/news_260_195/uploads/images/news/5c9880ca22877_sua-nha-tron-goi-quan-3.jpg 1024w,
                                                                    http://xaydungxuyenviet.com/media/cache/news_514_330/uploads/images/news/5c9880ca22877_sua-nha-tron-goi-quan-3.jpg 600w">
                                        </a>
                                        <div class="media-body">
                                            <h5 class="mt-0 mb-1">
                                                <a href="/du-an-cai-tao-sua-chua-nha-thay-long-q-3-hcm.html" title="Dự án cải tạo, sửa chữa nhà Thầy Long, Q.3, HCM">
                                                    <span>Dự án cải tạo, sửa chữa nhà Thầy Long, Q.3, HCM</span>
                                                </a>
                                            </h5>
                                            <p>Xây Dựng Xuyên Việt xin gửi đến toàn thể quý khách hàng dự án thi công cải tạo, sửa c</p>
                                        </div>
                                    </div>
                                </div>
                                <div aria-hidden="true" class="news-item bx-clone" style="float: left; list-style: none; position: relative; width: 1140px; margin-right: 30px;">
                                    <div class="news-item-wrapper">
                                        <a class="media-thumb" href="/du-an-sua-nha-tron-goi-a-vu-q-tan-binh-hcm.html" title="Dự án sửa nhà trọn gói A Vũ, Q. Tân Bình, HCM">
                                            <img alt="Dự án sửa nhà trọn gói A Vũ, Q. Tân Bình, HCM" class="mr-3 img-thumbnail" src="http://xaydungxuyenviet.com/media/cache/news_514_330/uploads/images/news/5c8f58a9bcb70_sua-nha-quan-tan-binh-01.jpg" srcset="http://xaydungxuyenviet.com/media/cache/news_260_195/uploads/images/news/5c8f58a9bcb70_sua-nha-quan-tan-binh-01.jpg 1024w,
                                                                    http://xaydungxuyenviet.com/media/cache/news_514_330/uploads/images/news/5c8f58a9bcb70_sua-nha-quan-tan-binh-01.jpg 600w">
                                        </a>
                                        <div class="media-body">
                                            <h5 class="mt-0 mb-1">
                                                <a href="/du-an-sua-nha-tron-goi-a-vu-q-tan-binh-hcm.html" title="Dự án sửa nhà trọn gói A Vũ, Q. Tân Bình, HCM">
                                                    <span>Dự án sửa nhà trọn gói A Vũ, Q. Tân Bình, HCM</span>
                                                </a>
                                            </h5>
                                            <p>Xây Dựng Xuyên Việt xin gửi đến toàn thể quý khách hàng dự án thi công cải tạo, sửa n</p>
                                        </div>
                                    </div>
                                </div>
                                <div aria-hidden="true" class="news-item bx-clone" style="float: left; list-style: none; position: relative; width: 1140px; margin-right: 30px;">
                                    <div class="news-item-wrapper">
                                        <a class="media-thumb" href="/cai-tao-sua-nha-cap-4-anh-vinh-quan-binh-tan.html" title="Dự án cải tạo, sửa nhà cấp 4, Anh Vĩnh, Quận Bình Tân">
                                            <img alt="Dự án cải tạo, sửa nhà cấp 4, Anh Vĩnh, Quận Bình Tân" class="mr-3 img-thumbnail" src="http://xaydungxuyenviet.com/media/cache/news_514_330/uploads/images/news/5c959de3ca066_cai-tao-sua-nha-cap-4-1.jpg" srcset="http://xaydungxuyenviet.com/media/cache/news_260_195/uploads/images/news/5c959de3ca066_cai-tao-sua-nha-cap-4-1.jpg 1024w,
                                                                    http://xaydungxuyenviet.com/media/cache/news_514_330/uploads/images/news/5c959de3ca066_cai-tao-sua-nha-cap-4-1.jpg 600w">
                                        </a>
                                        <div class="media-body">
                                            <h5 class="mt-0 mb-1">
                                                <a href="/cai-tao-sua-nha-cap-4-anh-vinh-quan-binh-tan.html" title="Dự án cải tạo, sửa nhà cấp 4, Anh Vĩnh, Quận Bình Tân">
                                                    <span>Dự án cải tạo, sửa nhà cấp 4, Anh Vĩnh, Quận Bình Tân</span>
                                                </a>
                                            </h5>
                                            <p>Xây Dựng Xuyên Việt xin gửi đến toàn thể quý khách hàng dự án thi công cải tạo, sửa n</p>
                                        </div>
                                    </div>
                                </div>
                                <div aria-hidden="true" class="news-item bx-clone" style="float: left; list-style: none; position: relative; width: 1140px; margin-right: 30px;">
                                    <div class="news-item-wrapper">
                                        <a class="media-thumb" href="/du-an-xay-nha-tron-goi-2-tang-co-mai-quan-12-tp-hcm.html" title="Dự án xây nhà trọn gói 2 tầng Cô Mai, Quận 12, TP HCM">
                                            <img alt="Dự án xây nhà trọn gói 2 tầng Cô Mai, Quận 12, TP HCM" class="mr-3 img-thumbnail" src="http://xaydungxuyenviet.com/media/cache/news_514_330/uploads/images/news/5c9883bc6942a_xay-nha-tron-goi-quan-12.jpg" srcset="http://xaydungxuyenviet.com/media/cache/news_260_195/uploads/images/news/5c9883bc6942a_xay-nha-tron-goi-quan-12.jpg 1024w,
                                                                    http://xaydungxuyenviet.com/media/cache/news_514_330/uploads/images/news/5c9883bc6942a_xay-nha-tron-goi-quan-12.jpg 600w">
                                        </a>
                                        <div class="media-body">
                                            <h5 class="mt-0 mb-1">
                                                <a href="/du-an-xay-nha-tron-goi-2-tang-co-mai-quan-12-tp-hcm.html" title="Dự án xây nhà trọn gói 2 tầng Cô Mai, Quận 12, TP HCM">
                                                    <span>Dự án xây nhà trọn gói 2 tầng Cô Mai, Quận 12, TP HCM</span>
                                                </a>
                                            </h5>
                                            <p>Xây Dựng Xuyên Việt xin gửi đến toàn thể quý khách hàng dự án thi công xây nhà trọn g</p>
                                        </div>
                                    </div>
                                </div>
                                <div aria-hidden="true" class="news-item" style="float: left; list-style: none; position: relative; width: 1140px; margin-right: 30px;">
                                    <div class="news-item-wrapper">
                                        <a class="media-thumb" href="/sua-chua-quan-cafe-the-light-house-q-7-hcm.html" title="Sửa chữa quán cafe The Light House, Q.7, HCM">
                                            <img alt="Sửa chữa quán cafe The Light House, Q.7, HCM" class="mr-3 img-thumbnail" src="http://xaydungxuyenviet.com/media/cache/news_514_330/uploads/images/news/5c9363b211f22_sua-nha-quan-cafe-lighthouse.jpg" srcset="http://xaydungxuyenviet.com/media/cache/news_260_195/uploads/images/news/5c9363b211f22_sua-nha-quan-cafe-lighthouse.jpg 1024w,
                                                                    http://xaydungxuyenviet.com/media/cache/news_514_330/uploads/images/news/5c9363b211f22_sua-nha-quan-cafe-lighthouse.jpg 600w">
                                        </a>
                                        <div class="media-body">
                                            <h5 class="mt-0 mb-1">
                                                <a href="/sua-chua-quan-cafe-the-light-house-q-7-hcm.html" title="Sửa chữa quán cafe The Light House, Q.7, HCM">
                                                    <span>Sửa chữa quán cafe The Light House, Q.7, HCM</span>
                                                </a>
                                            </h5>
                                            <p>Xây Dựng Xuyên Việt xin gửi đến toàn thể quý khách hàng dự án thi công cải tạo, sửa c</p>
                                        </div>
                                    </div>
                                </div>
                                <div aria-hidden="false" class="news-item" style="float: left; list-style: none; position: relative; width: 1140px; margin-right: 30px;">
                                    <div class="news-item-wrapper">
                                        <a class="media-thumb" href="/du-an-xay-nha-tron-goi-2-lau-1-tret-chi-ly-tan-phu.html" title="Dự án xây nhà trọn gói 2 lầu, 1 trệt Chị Ly, Tân Phú">
                                            <img alt="Dự án xây nhà trọn gói 2 lầu, 1 trệt Chị Ly, Tân Phú" class="mr-3 img-thumbnail" src="http://xaydungxuyenviet.com/media/cache/news_514_330/uploads/images/news/5c919a08ecc13_xay-nha-tron-goi-quan-tan-phu.jpg" srcset="http://xaydungxuyenviet.com/media/cache/news_260_195/uploads/images/news/5c919a08ecc13_xay-nha-tron-goi-quan-tan-phu.jpg 1024w,
                                                                    http://xaydungxuyenviet.com/media/cache/news_514_330/uploads/images/news/5c919a08ecc13_xay-nha-tron-goi-quan-tan-phu.jpg 600w">
                                        </a>
                                        <div class="media-body">
                                            <h5 class="mt-0 mb-1">
                                                <a href="/du-an-xay-nha-tron-goi-2-lau-1-tret-chi-ly-tan-phu.html" title="Dự án xây nhà trọn gói 2 lầu, 1 trệt Chị Ly, Tân Phú">
                                                    <span>Dự án xây nhà trọn gói 2 lầu, 1 trệt Chị Ly, Tân Phú</span>
                                                </a>
                                            </h5>
                                            <p>Xây Dựng Xuyên Việt xin gửi đến toàn thể quý khách hàng dự án thi công xây nhà trọn g</p>
                                        </div>
                                    </div>
                                </div>
                                <div aria-hidden="true" class="news-item" style="float: left; list-style: none; position: relative; width: 1140px; margin-right: 30px;">
                                    <div class="news-item-wrapper">
                                        <a class="media-thumb" href="/du-an-cai-tao-sua-chua-nha-thay-long-q-3-hcm.html" title="Dự án cải tạo, sửa chữa nhà Thầy Long, Q.3, HCM">
                                            <img alt="Dự án cải tạo, sửa chữa nhà Thầy Long, Q.3, HCM" class="mr-3 img-thumbnail" src="http://xaydungxuyenviet.com/media/cache/news_514_330/uploads/images/news/5c9880ca22877_sua-nha-tron-goi-quan-3.jpg" srcset="http://xaydungxuyenviet.com/media/cache/news_260_195/uploads/images/news/5c9880ca22877_sua-nha-tron-goi-quan-3.jpg 1024w,
                                                                    http://xaydungxuyenviet.com/media/cache/news_514_330/uploads/images/news/5c9880ca22877_sua-nha-tron-goi-quan-3.jpg 600w">
                                        </a>
                                        <div class="media-body">
                                            <h5 class="mt-0 mb-1">
                                                <a href="/du-an-cai-tao-sua-chua-nha-thay-long-q-3-hcm.html" title="Dự án cải tạo, sửa chữa nhà Thầy Long, Q.3, HCM">
                                                    <span>Dự án cải tạo, sửa chữa nhà Thầy Long, Q.3, HCM</span>
                                                </a>
                                            </h5>
                                            <p>Xây Dựng Xuyên Việt xin gửi đến toàn thể quý khách hàng dự án thi công cải tạo, sửa c</p>
                                        </div>
                                    </div>
                                </div>
                                <div aria-hidden="true" class="news-item" style="float: left; list-style: none; position: relative; width: 1140px; margin-right: 30px;">
                                    <div class="news-item-wrapper">
                                        <a class="media-thumb" href="/du-an-sua-nha-tron-goi-a-vu-q-tan-binh-hcm.html" title="Dự án sửa nhà trọn gói A Vũ, Q. Tân Bình, HCM">
                                            <img alt="Dự án sửa nhà trọn gói A Vũ, Q. Tân Bình, HCM" class="mr-3 img-thumbnail" src="http://xaydungxuyenviet.com/media/cache/news_514_330/uploads/images/news/5c8f58a9bcb70_sua-nha-quan-tan-binh-01.jpg" srcset="http://xaydungxuyenviet.com/media/cache/news_260_195/uploads/images/news/5c8f58a9bcb70_sua-nha-quan-tan-binh-01.jpg 1024w,
                                                                    http://xaydungxuyenviet.com/media/cache/news_514_330/uploads/images/news/5c8f58a9bcb70_sua-nha-quan-tan-binh-01.jpg 600w">
                                        </a>
                                        <div class="media-body">
                                            <h5 class="mt-0 mb-1">
                                                <a href="/du-an-sua-nha-tron-goi-a-vu-q-tan-binh-hcm.html" title="Dự án sửa nhà trọn gói A Vũ, Q. Tân Bình, HCM">
                                                    <span>Dự án sửa nhà trọn gói A Vũ, Q. Tân Bình, HCM</span>
                                                </a>
                                            </h5>
                                            <p>Xây Dựng Xuyên Việt xin gửi đến toàn thể quý khách hàng dự án thi công cải tạo, sửa n</p>
                                        </div>
                                    </div>
                                </div>
                                <div aria-hidden="true" class="news-item" style="float: left; list-style: none; position: relative; width: 1140px; margin-right: 30px;">
                                    <div class="news-item-wrapper">
                                        <a class="media-thumb" href="/cai-tao-sua-nha-cap-4-anh-vinh-quan-binh-tan.html" title="Dự án cải tạo, sửa nhà cấp 4, Anh Vĩnh, Quận Bình Tân">
                                            <img alt="Dự án cải tạo, sửa nhà cấp 4, Anh Vĩnh, Quận Bình Tân" class="mr-3 img-thumbnail" src="http://xaydungxuyenviet.com/media/cache/news_514_330/uploads/images/news/5c959de3ca066_cai-tao-sua-nha-cap-4-1.jpg" srcset="http://xaydungxuyenviet.com/media/cache/news_260_195/uploads/images/news/5c959de3ca066_cai-tao-sua-nha-cap-4-1.jpg 1024w,
                                                                    http://xaydungxuyenviet.com/media/cache/news_514_330/uploads/images/news/5c959de3ca066_cai-tao-sua-nha-cap-4-1.jpg 600w">
                                        </a>
                                        <div class="media-body">
                                            <h5 class="mt-0 mb-1">
                                                <a href="/cai-tao-sua-nha-cap-4-anh-vinh-quan-binh-tan.html" title="Dự án cải tạo, sửa nhà cấp 4, Anh Vĩnh, Quận Bình Tân">
                                                    <span>Dự án cải tạo, sửa nhà cấp 4, Anh Vĩnh, Quận Bình Tân</span>
                                                </a>
                                            </h5>
                                            <p>Xây Dựng Xuyên Việt xin gửi đến toàn thể quý khách hàng dự án thi công cải tạo, sửa n</p>
                                        </div>
                                    </div>
                                </div>
                                <div aria-hidden="true" class="news-item" style="float: left; list-style: none; position: relative; width: 1140px; margin-right: 30px;">
                                    <div class="news-item-wrapper">
                                        <a class="media-thumb" href="/du-an-xay-nha-tron-goi-2-tang-co-mai-quan-12-tp-hcm.html" title="Dự án xây nhà trọn gói 2 tầng Cô Mai, Quận 12, TP HCM">
                                            <img alt="Dự án xây nhà trọn gói 2 tầng Cô Mai, Quận 12, TP HCM" class="mr-3 img-thumbnail" src="http://xaydungxuyenviet.com/media/cache/news_514_330/uploads/images/news/5c9883bc6942a_xay-nha-tron-goi-quan-12.jpg" srcset="http://xaydungxuyenviet.com/media/cache/news_260_195/uploads/images/news/5c9883bc6942a_xay-nha-tron-goi-quan-12.jpg 1024w,
                                                                    http://xaydungxuyenviet.com/media/cache/news_514_330/uploads/images/news/5c9883bc6942a_xay-nha-tron-goi-quan-12.jpg 600w">
                                        </a>
                                        <div class="media-body">
                                            <h5 class="mt-0 mb-1">
                                                <a href="/du-an-xay-nha-tron-goi-2-tang-co-mai-quan-12-tp-hcm.html" title="Dự án xây nhà trọn gói 2 tầng Cô Mai, Quận 12, TP HCM">
                                                    <span>Dự án xây nhà trọn gói 2 tầng Cô Mai, Quận 12, TP HCM</span>
                                                </a>
                                            </h5>
                                            <p>Xây Dựng Xuyên Việt xin gửi đến toàn thể quý khách hàng dự án thi công xây nhà trọn g</p>
                                        </div>
                                    </div>
                                </div>
                                <div aria-hidden="true" class="news-item bx-clone" style="float: left; list-style: none; position: relative; width: 1140px; margin-right: 30px;">
                                    <div class="news-item-wrapper">
                                        <a class="media-thumb" href="/sua-chua-quan-cafe-the-light-house-q-7-hcm.html" title="Sửa chữa quán cafe The Light House, Q.7, HCM">
                                            <img alt="Sửa chữa quán cafe The Light House, Q.7, HCM" class="mr-3 img-thumbnail" src="http://xaydungxuyenviet.com/media/cache/news_514_330/uploads/images/news/5c9363b211f22_sua-nha-quan-cafe-lighthouse.jpg" srcset="http://xaydungxuyenviet.com/media/cache/news_260_195/uploads/images/news/5c9363b211f22_sua-nha-quan-cafe-lighthouse.jpg 1024w,
                                                                    http://xaydungxuyenviet.com/media/cache/news_514_330/uploads/images/news/5c9363b211f22_sua-nha-quan-cafe-lighthouse.jpg 600w">
                                        </a>
                                        <div class="media-body">
                                            <h5 class="mt-0 mb-1">
                                                <a href="/sua-chua-quan-cafe-the-light-house-q-7-hcm.html" title="Sửa chữa quán cafe The Light House, Q.7, HCM">
                                                    <span>Sửa chữa quán cafe The Light House, Q.7, HCM</span>
                                                </a>
                                            </h5>
                                            <p>Xây Dựng Xuyên Việt xin gửi đến toàn thể quý khách hàng dự án thi công cải tạo, sửa c</p>
                                        </div>
                                    </div>
                                </div>
                                <div aria-hidden="true" class="news-item bx-clone" style="float: left; list-style: none; position: relative; width: 1140px; margin-right: 30px;">
                                    <div class="news-item-wrapper">
                                        <a class="media-thumb" href="/du-an-xay-nha-tron-goi-2-lau-1-tret-chi-ly-tan-phu.html" title="Dự án xây nhà trọn gói 2 lầu, 1 trệt Chị Ly, Tân Phú">
                                            <img alt="Dự án xây nhà trọn gói 2 lầu, 1 trệt Chị Ly, Tân Phú" class="mr-3 img-thumbnail" src="http://xaydungxuyenviet.com/media/cache/news_514_330/uploads/images/news/5c919a08ecc13_xay-nha-tron-goi-quan-tan-phu.jpg" srcset="http://xaydungxuyenviet.com/media/cache/news_260_195/uploads/images/news/5c919a08ecc13_xay-nha-tron-goi-quan-tan-phu.jpg 1024w,
                                                                    http://xaydungxuyenviet.com/media/cache/news_514_330/uploads/images/news/5c919a08ecc13_xay-nha-tron-goi-quan-tan-phu.jpg 600w">
                                        </a>
                                        <div class="media-body">
                                            <h5 class="mt-0 mb-1">
                                                <a href="/du-an-xay-nha-tron-goi-2-lau-1-tret-chi-ly-tan-phu.html" title="Dự án xây nhà trọn gói 2 lầu, 1 trệt Chị Ly, Tân Phú">
                                                    <span>Dự án xây nhà trọn gói 2 lầu, 1 trệt Chị Ly, Tân Phú</span>
                                                </a>
                                            </h5>
                                            <p>Xây Dựng Xuyên Việt xin gửi đến toàn thể quý khách hàng dự án thi công xây nhà trọn g</p>
                                        </div>
                                    </div>
                                </div>
                                <div aria-hidden="true" class="news-item bx-clone" style="float: left; list-style: none; position: relative; width: 1140px; margin-right: 30px;">
                                    <div class="news-item-wrapper">
                                        <a class="media-thumb" href="/du-an-cai-tao-sua-chua-nha-thay-long-q-3-hcm.html" title="Dự án cải tạo, sửa chữa nhà Thầy Long, Q.3, HCM">
                                            <img alt="Dự án cải tạo, sửa chữa nhà Thầy Long, Q.3, HCM" class="mr-3 img-thumbnail" src="http://xaydungxuyenviet.com/media/cache/news_514_330/uploads/images/news/5c9880ca22877_sua-nha-tron-goi-quan-3.jpg" srcset="http://xaydungxuyenviet.com/media/cache/news_260_195/uploads/images/news/5c9880ca22877_sua-nha-tron-goi-quan-3.jpg 1024w,
                                                                    http://xaydungxuyenviet.com/media/cache/news_514_330/uploads/images/news/5c9880ca22877_sua-nha-tron-goi-quan-3.jpg 600w">
                                        </a>
                                        <div class="media-body">
                                            <h5 class="mt-0 mb-1">
                                                <a href="/du-an-cai-tao-sua-chua-nha-thay-long-q-3-hcm.html" title="Dự án cải tạo, sửa chữa nhà Thầy Long, Q.3, HCM">
                                                    <span>Dự án cải tạo, sửa chữa nhà Thầy Long, Q.3, HCM</span>
                                                </a>
                                            </h5>
                                            <p>Xây Dựng Xuyên Việt xin gửi đến toàn thể quý khách hàng dự án thi công cải tạo, sửa c</p>
                                        </div>
                                    </div>
                                </div>
                                <div aria-hidden="true" class="news-item bx-clone" style="float: left; list-style: none; position: relative; width: 1140px; margin-right: 30px;">
                                    <div class="news-item-wrapper">
                                        <a class="media-thumb" href="/du-an-sua-nha-tron-goi-a-vu-q-tan-binh-hcm.html" title="Dự án sửa nhà trọn gói A Vũ, Q. Tân Bình, HCM">
                                            <img alt="Dự án sửa nhà trọn gói A Vũ, Q. Tân Bình, HCM" class="mr-3 img-thumbnail" src="http://xaydungxuyenviet.com/media/cache/news_514_330/uploads/images/news/5c8f58a9bcb70_sua-nha-quan-tan-binh-01.jpg" srcset="http://xaydungxuyenviet.com/media/cache/news_260_195/uploads/images/news/5c8f58a9bcb70_sua-nha-quan-tan-binh-01.jpg 1024w,
                                                                    http://xaydungxuyenviet.com/media/cache/news_514_330/uploads/images/news/5c8f58a9bcb70_sua-nha-quan-tan-binh-01.jpg 600w">
                                        </a>
                                        <div class="media-body">
                                            <h5 class="mt-0 mb-1">
                                                <a href="/du-an-sua-nha-tron-goi-a-vu-q-tan-binh-hcm.html" title="Dự án sửa nhà trọn gói A Vũ, Q. Tân Bình, HCM">
                                                    <span>Dự án sửa nhà trọn gói A Vũ, Q. Tân Bình, HCM</span>
                                                </a>
                                            </h5>
                                            <p>Xây Dựng Xuyên Việt xin gửi đến toàn thể quý khách hàng dự án thi công cải tạo, sửa n</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bx-controls bx-has-controls-direction">
                            <div class="bx-controls-direction">
                                <a class="bx-prev" href="">Prev</a>
                                <a class="bx-next" href="">Next</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}