
@import '~@fancyapps/fancybox/dist/jquery.fancybox.css';
@import '../../libs/starrating/css/rating.css';
@import '~bxslider/dist/jquery.bxslider.css';

@import "global/fonts";
@import "global/color_variables";
@import "global/sidebar";

@import "pages/news";