<div class="list-group">
    <h3 class="list-group-item list-group-item-action active text-uppercase">Hỗ trợ trực tuyến</h3>
    <div class="tu-van">
        <ul>
            <li>
                <h3>Tư vấn xây nhà</h3>
                <p><i class="fa fa-user"></i>Mr. Tuyển</p>
                <p>
                    <i class="fa fa-phone"></i>
                    <a href="tel:{{ get_setting('hotLine1') }}">{{ get_setting('hotLine1') }}</a>
                </p>
            </li>
            <li>
                <h3>Tư vấn sửa nhà</h3>
                <p><i class="fa fa-user"></i>Mr. Tuyển</p>
                <p>
                    <i class="fa fa-phone"></i>
                    <a href="tel:{{ get_setting('hotLine2') }}">{{ get_setting('hotLine2') }}</a>
                </p>
            </li>
        </ul>
    </div>
</div>