/* Homepage
------------------------------------------------------------------------- */
#myCarousel {
    @media only screen and (max-width : 768px) {
        width: 100%;
    }

    .carousel-indicators {
        margin-bottom: 0;
        bottom: 5px;

        @media only screen and (max-width : 768px) {
            margin-bottom: 0;
        }

        li {
            width: 15px;
            height: 15px;
            background-color: #525252;
            margin: 0;

            @media only screen and (max-width : 768px) {
                width: 10px;
                height: 10px;
            }

            &.active {
                width: 15px;
                height: 15px;
                background-color: $supernova;

                @media only screen and (max-width : 768px) {
                    width: 10px;
                    height: 10px;
                }
            }
        }
    }
    
    .carousel-inner {
        .item {
            img {
                width: 100%;
                height: 550px;

                @media only screen and (max-width : 768px) {
                    width: 100%;
                    height: auto;
                }
            }

            .carousel-caption {
                padding-bottom: 10px;
                bottom: 40%;

                @media only screen and (max-width: 767.98px) {
                    left: 0%;
                    right: 0%;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    bottom: 16%;
                }

                @media (min-width: 768px) and (max-width: 991.98px) {
                    bottom: 28%;
                }

                h2 {
                    margin: 0 0 5px 0;
                    font-size: 40px;

                    @media only screen and (max-width : 767.98px) {
                        font-size: 22px;
                    }

                    @media (min-width: 768px) and (max-width: 991.98px) {
                        font-size: 30px;
                    }
                }

                p {
                    font-size: 30px;

                    @media only screen and (max-width : 767.98px) {
                        font-size: 16px;
                    }

                    @media (min-width: 768px) and (max-width: 991.98px) {
                        font-size: 25px;
                    }
                }
            }
        }
    }

    .carousel-control {
        &.left {
            .glyphicon {
                width: 50px;
                height: 130px;
                top: 40%;
                background: url("../../../images/arrow-left.png") no-repeat;

                @media only screen and (max-width : 768px) {
                    width: 45px;
                    height: 95px;
                    top: 30%;
                    background-size: 70%;
                    left: 40%;
                }

                &::before {
                    content: "";
                }
            }
        }

        &.right {
            .glyphicon {
                width: 50px;
                height: 130px;
                top: 40%;
                background: url("../../../images/arrow-right.png") no-repeat;

                @media only screen and (max-width : 768px) {
                    width: 45px;
                    height: 95px;
                    top: 30%;
                    background-size: 70%;
                    right: 20%;;
                }

                &::before {
                    content: "";
                }
            }
        }
    }
}

.slogin {
    background-color: #0053a5;
    padding: 15px 0;

    @media only screen and (max-width: 768px) {
        padding: 10px 0;
    }

    .slogin-title {
        p {
            margin-bottom: 0;
            font-size: 19px;
            font-family: $robotoCondesed;
            text-transform: uppercase;
            color: $white;
            text-shadow: 0.2px 0.2px 0.2px $white;

            @media only screen and (max-width: 768px) {
                font-size: 16px;
                text-align: center;
            }
        }

        a {
            font-size: 19px;
            font-family: $robotoCondesed;
            font-weight: bold;
            text-transform: uppercase;
            color: $white;
            text-shadow: 0.2px 0.2px 0.2px $white;

            @media only screen and (max-width: 768px) {
                font-size: 16px;
                text-align: center;
                display: block;
            }
        }
    }
}

.prices-table {
    position: relative;

    &::after {
        content: "";
        background: url("../../assets/images/background-price-table.jpg") repeat-y 50%;
        background-attachment: fixed;
        opacity: 0.3;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;

        @media only screen and (max-width : 768px) {
            background: #eee;
        }
    }

    .marketing {
        padding-top: 30px;
    
        .col-md-3 {
            margin: 20px 0;
            
            /* Small Devices, Tablets */
            @media only screen and (max-width : 768px) {
                margin: 5px 0;
            }
    
            .intro {
                text-align: center;
    
                .img {
                    width: 260px;
                    margin: 0 auto;

                    @media (min-width: 768px) and (max-width: 991.98px) {
                        width: 180px;
                        height: 180px;
                        padding: 5px;
                    }

                    @media only screen and (max-width : 767.98px) {
                        width: 100%;
                    }
    
                    .mid-img {
                        width: 250px;
                        -webkit-transition: all .5s ease-in-out;
                        -moz-transition: all .5s ease-in-out;
                        transition: all .5s ease-in-out;
                        margin: auto;
                        overflow: hidden;

                        &:hover {
                            border-left-color: $supernova;
                            border-top-color: $supernova;
                        }

                        @media (min-width: 768px) and (max-width: 991.98px) {
                            width: 168px;
                            height: 168px;
                            border: 2px solid $primaryColor;
                            border-right-color: $supernova;
                            border-bottom-color: $supernova;
                        }

                        @media only screen and (max-width : 767.98px) {
                            width: 100%;
                        }
    
                        .center-img {
                            width: 250px;
                            height: 200px;

                            @media (min-width: 768px) and (max-width: 991.98px) {
                                width: 164px;
                                height: 164px;
                            }

                            @media only screen and (max-width : 767.98px) {
                                width: 100%;
                                height: 220px;
                            }
    
                            img {
                                margin: auto;
                                height: 100%;
                                width: 100%;
                                transition: 0.6s ease;

                                &:hover {
                                    transform: scale(1.4);
                                }
                            }
                        }
                    }
                }
    
                .text {
                    font-family: $robotoCondesed;
                    padding: 15px 10px;
                    font-size: 25px;
                    line-height: 28px;

                    @media only screen and (max-width : 767.98px) {
                        padding: 15px 0px;
                        text-transform: uppercase;
                        font-size: 20px;

                        a {
                            color: #1773c2;
                        }
                    }

                    @media (min-width: 768px) and (max-width: 991.98px) {
                        font-size: 18px;
                    }
    
                    a {
                        &:hover {
                            text-decoration: none;
                            color: $black;
                        }
                    }
                }
            }
        }

        @media only screen and (min-width: 979.98px) {
            .wrapper-intro {
                &:after {
                    content: "";
                    width: 2px;
                    height: 200px;
                    background: $white;
                    position: absolute;
                    top: 0;
                    right: 0;
                    -webkit-transform: skew(-5deg);
                    -ms-transform: skew(-5deg);
                    transform: skew(-5deg);
                }

                &:last-child {
                    &:after {
                        content: none;
                    }
                }
            }
        }
    }
}

.why-choose-us {
    background-image: url("../../assets/images/background-why-choose-us.jpg");
    background-position: center center;
    padding: 40px 0 40px;

    @media only screen and (max-width: 768px) {
        padding: 0 0 20px;
    }

    .row {
        .why-choose-us-title {
            padding: 30px 0;
            color: #1773c2;
            margin: 0;

            @media only screen and (max-width: 768px) {
                font-size: 28px;
            }
        }

        .media {
            .media-left {
                span {
                    display: block;
                    width: 70px;
                    height: 70px;
                    text-align: center;
                    font-size: 3em;
    
                    i {
                        margin-right: 0;
                        color: $supernova;
                        vertical-align: top;
                    }
                }
            }
    
            .media-body {
                h2 {
                    font-size: 18px;
                    font-weight: 600;
                    margin-bottom: 8px;
                }
    
                .marketing-container {
                    font-size: 16px;
                    line-height: 24px;
                }
            }
        }
    }
}