/* Homepage
------------------------------------------------------------------------- */
#myCarousel {
    @media only screen and (max-width : 768px) {
        width: 100%;
    }

    .carousel-indicators {
        margin-bottom: 0;
        bottom: 5px;

        @media only screen and (max-width : 768px) {
            margin-bottom: 0;
        }

        li {
            width: 15px;
            height: 15px;
            background-color: #525252;
            margin: 0;

            @media only screen and (max-width : 768px) {
                width: 10px;
                height: 10px;
            }

            &.active {
                width: 15px;
                height: 15px;
                background-color: $supernova;

                @media only screen and (max-width : 768px) {
                    width: 10px;
                    height: 10px;
                }
            }
        }
    }
    
    .carousel-inner {
        .item {
            img {
                width: 100%;
                height: 550px;

                @media only screen and (max-width : 768px) {
                    width: 100%;
                    height: auto;
                }
            }

            .carousel-caption {
                padding-bottom: 10px;
                bottom: 40%;

                @media only screen and (max-width: 767.98px) {
                    left: 0%;
                    right: 0%;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    bottom: 16%;
                }

                @media (min-width: 768px) and (max-width: 991.98px) {
                    bottom: 28%;
                }

                h2 {
                    margin: 0 0 5px 0;
                    font-size: 40px;

                    @media only screen and (max-width : 767.98px) {
                        font-size: 22px;
                    }

                    @media (min-width: 768px) and (max-width: 991.98px) {
                        font-size: 30px;
                    }
                }

                p {
                    font-size: 30px;

                    @media only screen and (max-width : 767.98px) {
                        font-size: 16px;
                    }

                    @media (min-width: 768px) and (max-width: 991.98px) {
                        font-size: 25px;
                    }
                }
            }
        }
    }

    .carousel-control {
        &.left {
            .glyphicon {
                width: 50px;
                height: 130px;
                top: 40%;
                background: url("../../../images/arrow-left.png") no-repeat;

                @media only screen and (max-width : 768px) {
                    width: 45px;
                    height: 95px;
                    top: 30%;
                    background-size: 70%;
                    left: 40%;
                }

                &::before {
                    content: "";
                }
            }
        }

        &.right {
            .glyphicon {
                width: 50px;
                height: 130px;
                top: 40%;
                background: url("../../../images/arrow-right.png") no-repeat;

                @media only screen and (max-width : 768px) {
                    width: 45px;
                    height: 95px;
                    top: 30%;
                    background-size: 70%;
                    right: 20%;;
                }

                &::before {
                    content: "";
                }
            }
        }
    }
}

.slogin {
    background-color: #0053a5;
    padding: 15px 0;

    @media only screen and (max-width: 768px) {
        padding: 10px 0;
    }

    .slogin-title {
        p {
            margin-bottom: 0;
            font-size: 19px;
            font-family: $robotoCondesed;
            text-transform: uppercase;
            color: $selectiveYellow;
            text-shadow: 0.2px 0.2px 0.2px $selectiveYellow;

            @media only screen and (max-width: 768px) {
                font-size: 16px;
                text-align: center;
            }
        }

        a {
            font-size: 19px;
            font-family: $robotoCondesed;
            font-weight: bold;
            text-transform: uppercase;
            color: $selectiveYellow;
            text-shadow: 0.2px 0.2px 0.2px $selectiveYellow;

            @media only screen and (max-width: 768px) {
                font-size: 16px;
                text-align: center;
                display: block;
            }
        }
    }
}

.prices-table {
    position: relative;

    &::after {
        content: "";
        background: url("../../assets/images/background-price-table.jpg") repeat-y 50%;
        background-attachment: fixed;
        opacity: 0.3;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .marketing {
        padding-top: 30px;
    
        .col-md-3 {
            margin: 20px 0;
            
            /* Small Devices, Tablets */
            @media only screen and (max-width : 768px) {
                margin: 5px 0;
            }
    
            .intro {
                text-align: center;
    
                .img {
                    height: 250px;
                    width: 250px;
                    border: 1px solid $primaryColor;
                    border-radius: 50%;
                    margin: 0 auto;
                    padding: 10px;

                    @media (min-width: 768px) and (max-width: 991.98px) {
                        width: 180px;
                        height: 180px;
                        padding: 5px;
                    }
    
                    .mid-img {
                        width: 228px;
                        height: 228px;
                        border: 5px solid $primaryColor;
                        border-right-color: $supernova;
                        border-bottom-color: $supernova;
                        border-radius: 50%;
                        -webkit-transition: all .5s ease-in-out;
                        -moz-transition: all .5s ease-in-out;
                        transition: all .5s ease-in-out;
                        z-index: 2;
                        margin: auto;
                        overflow: hidden;

                        &:hover {
                            border-left-color: $supernova;
                            border-top-color: $supernova;
                        }

                        @media (min-width: 768px) and (max-width: 991.98px) {
                            width: 168px;
                            height: 168px;
                            border: 2px solid $primaryColor;
                            border-right-color: $supernova;
                            border-bottom-color: $supernova;
                        }
    
                        .center-img {
                            width: 218px;
                            height: 218px;

                            @media (min-width: 768px) and (max-width: 991.98px) {
                                width: 164px;
                                height: 164px;
                            }
    
                            img {
                                margin: auto;
                                height: 100%;
                                width: 100%;
                                transition: 0.6s ease;

                                &:hover {
                                    transform: scale(1.4);
                                }
                            }
                        }
                    }
                }
    
                .text {
                    font-family: $robotoCondesed;
                    padding: 15px 0;
                    font-size: 22px;
                    line-height: 26px;

                    @media only screen and (max-width : 767.98px) {
                        padding: 15px 25px;
                    }

                    @media (min-width: 768px) and (max-width: 991.98px) {
                        font-size: 18px;
                    }
    
                    a {
                        &:hover {
                            text-decoration: none;
                            color: $black;
                        }
                    }
                }
            }
        }
    }
}

.why-choose-us {
    background-image: url("../../assets/images/background-why-choose-us.jpg");
    background-position: center center;
    padding: 40px 0 40px;

    @media only screen and (max-width: 768px) {
        padding: 0 0 20px;
    }

    .row {
        .why-choose-us-title {
            padding: 30px 0;
            color: #3c3950;
            margin: 0;

            @media only screen and (max-width: 768px) {
                font-size: 28px;
            }
        }

        .media {
            .media-left {
                span {
                    display: block;
                    width: 70px;
                    height: 70px;
                    text-align: center;
                    font-size: 3em;
    
                    i {
                        margin-right: 0;
                        color: $supernova;
                        vertical-align: top;
                    }
                }
            }
    
            .media-body {
                h2 {
                    font-size: 18px;
                    font-weight: 600;
                    margin-bottom: 8px;
                }
    
                .marketing-container {
                    font-size: 16px;
                    line-height: 24px;
                }
            }
        }
    }
}

.title-list-news-items {
    h1 {
        font-size: 32px;
        margin: 10px 0 15px;
        color: #0053a5;

        @media only screen and (max-width : 768px) {
            position: relative;
            font-size: 28px;
            margin: 15px 0 15px;
        }

        &::before {
            content: '';
            display: inline-block;
            width: 180px;
            height: 1px;
            background-color: rgba(252,189,19,0);
            background-image: -webkit-gradient(linear,left top,right top,from(rgba(252,189,19,0)),color-stop(50%,$selectiveYellow),to(rgba(252,189,19,0)));
            background-image: linear-gradient(to right,rgba(252,189,19,0),$selectiveYellow 50%,rgba(252,189,19,0));
            vertical-align: middle;

            @media only screen and (max-width: 767.98px) {
                position: absolute;
                left: 35%;
                bottom: -5px;
                height: 2px;
                width: 100px;
            }

            @media only screen and (min-width: 768px) and (max-width : 1024px) {
                position: absolute;
                left: 43%;
                bottom: -5px;
                height: 2px;
                width: 100px;
            }
        }

        &::after {
            content: '';
            display: inline-block;
            width: 180px;
            height: 1px;
            background-color: rgba(252,189,19,0);
            background-image: -webkit-gradient(linear,left top,right top,from(rgba(252,189,19,0)),color-stop(50%,$selectiveYellow),to(rgba(252,189,19,0)));
            background-image: linear-gradient(to right,rgba(252,189,19,0),$selectiveYellow 50%,rgba(252,189,19,0));
            vertical-align: middle;

            @media only screen and (max-width : 768px) {
                display: none;
            }
        }

        img {
            height: 23px;
            vertical-align: baseline;
        }

        span {
            color: $selectiveYellow;
        }

        i {
            font-size: 17px;
            vertical-align: middle;
            margin-top: -5px;
            margin-right: 0;
            color: $selectiveYellow;
        }
    }

    p {
        text-align: center;
        font-style: italic;
        width: 75%;
        margin: 0 auto 30px;
    }
}

.list-news-items {
    .news-item {
        margin-bottom: 30px;

        @media only screen and (max-width : 768px) {
            margin-bottom: 10px;
        }

        &.d-none {
            @media (min-width: 768px) and (max-width: 991.98px) {
                display: none;
            }
        }

        .news-item-wrapper {
            background: $white;

            @media only screen and (min-width: 979.98px) {
                &:hover {
                    .media-thumb {
                        .img-thumbnail {
                            transform: scale(1.5);
                        }

                        a {
                            opacity: 1;

                            i {
                                -webkit-transform: translate(-50%, -50%) rotate(0);
                                -moz-transform: translate(-50%, -50%) rotate(0);
                                -ms-transform: translate(-50%, -50%) rotate(0);
                                transform: translate(-50%, -50%) rotate(0);
                            }
                        }
                    }
                }
            }

            .media-thumb {
                display: block;
                height: 220px;
                overflow: hidden;
                position: relative;

                @media only screen and (max-width : 767.98px) {
                    height: 250px;
                }

                @media (min-width: 768px) and (max-width: 991.98px) {
                    height: 200px;
                }

                .img-thumbnail {
                    padding: 0px;
                    border-radius: 0px;
                    border: none;
                    width: 100%;
                    height: 100%;
                    transition: 0.6s ease;
                }

                a {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    background-color: rgba(0, 0, 0, 0.5);
                    overflow: hidden;
                    opacity: 0;
                    -webkit-transition: all 0.4s ease;
                    -moz-transition: all 0.4s ease;
                    -ms-transition: all 0.4s ease;
                    transition: all 0.4s ease;

                    i {
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 50px;
                        height: 50px;
                        line-height: 46px;
                        font-size: 1.3em;
                        border: 2px solid #fff;
                        color: #fff;
                        text-align: center;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        -ms-border-radius: 50%;
                        border-radius: 50%;
                        -webkit-transform: translate(-50%, -50%) rotate(270deg);
                        -moz-transform: translate(-50%, -50%) rotate(270deg);
                        -ms-transform: translate(-50%, -50%) rotate(270deg);
                        transform: translate(-50%, -50%) rotate(270deg);
                        -webkit-transition: all 0.4s ease;
                        -moz-transition: all 0.4s ease;
                        -ms-transition: all 0.4s ease;
                        transition: all 0.4s ease;
                    }
                }
            }
    
            .media-body {
                padding: 0 0 20px;

                h5 {
                    font-family: $robotoCondesed;
                    font-size: 19px;
                    font-weight: bold;
                    margin: 15px 0 10px 0;
                    min-height: 54px;

                    @media only screen and (max-width: 767.98px) {
                        min-height: auto;
                        margin-bottom: 10px;
                    }
    
                    a {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        line-height: 26px;
                        max-height: 60px;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        color: #0053a5;
                        text-align: center;
    
                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
    
                p {
                    font-size: 16px;
                    margin-bottom: 0;
                    line-height: 24px;
                    text-align: center;
                    color: $black;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                }
            }
        }
    }
}

.y-kien-khach-hang {
    position: relative;
    padding: 40px 0;

    &::after {
        content: "";
        background: url("../../assets/images/construction_clients_background.jpg") repeat-y 50%;
        background-attachment: fixed;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    h2 {
        color: #3c3950;

        @media only screen and (max-width : 768px) {
            font-size: 28px;
            margin: 15px 0 15px;
        }
    }

    .media-wrapper {
        text-align: center;
        margin: 20px 0;

        .media {
            display: inline-block;
            padding: 0 10px;

            .youtube-video-place {
                width: 282px;
                height: 220px;

                iframe {
                    height: 97%;
                }
            }
        }
    }
}

.video {
    position: relative;
    padding-bottom: 56.23%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
    margin: 5px;
}

.video div {
    cursor: pointer;
    -webkit-transition: .6s all;
    -moz-transition: .6s all;
    transition: .6s all;
    display: block;
}

.video div:hover span {
    -webkit-filter: brightness(100%);
}

.video div img {
    width: 100%;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.video div span {
    width: 94px;
    height: 64px;
    position: absolute;
    background: url(https://1.bp.blogspot.com/-94QEg1Pk9tw/WGhNhfqMs-I/AAAAAAAAA1w/u3gEPfwh4hwMkWeAu-_PteMTFlSfy8pqACLcB/s1600/1483251316_5295_-_Youtube_I.png) no-repeat;
    background-position: 50% 50%;
    left: 50%;
    top: 50%;
    margin-left: -47px;
    margin-top: -32px;
    -webkit-filter: brightness(75%);
}

.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: transparent;
}