/* Homepage
------------------------------------------------------------------------- */
#myCarousel {
    @media only screen and (max-width : 768px) {
        width: 100%;
    }

    .carousel-indicators {
        margin-bottom: 0;
        bottom: 5px;

        @media only screen and (max-width : 768px) {
            margin-bottom: 0;
        }

        li {
            width: 15px;
            height: 15px;
            background-color: #525252;
            margin: 0;

            @media only screen and (max-width : 768px) {
                width: 10px;
                height: 10px;
            }

            &.active {
                width: 15px;
                height: 15px;
                background-color: $supernova;

                @media only screen and (max-width : 768px) {
                    width: 10px;
                    height: 10px;
                }
            }
        }
    }
    
    .carousel-inner {
        .item {
            img {
                width: 100%;
                height: 550px;

                @media only screen and (max-width : 768px) {
                    width: 100%;
                    height: auto;
                }
            }

            .carousel-caption {
                padding-bottom: 10px;
                bottom: 40%;

                @media only screen and (max-width: 767.98px) {
                    left: 0%;
                    right: 0%;
                    padding-top: 10px;
                    padding-bottom: 10px;
                }

                h2 {
                    margin: 0 0 5px 0;
                    font-size: 40px;

                    @media only screen and (max-width : 768px) {
                        font-size: 20px;
                    }
                }

                p {
                    font-size: 30px;
                }
            }
        }
    }

    .carousel-control {
        &.left {
            .glyphicon {
                width: 50px;
                height: 130px;
                top: 40%;
                background: url("../../../images/arrow-left.png") no-repeat;

                &::before {
                    content: "";
                }
            }
        }

        &.right {
            .glyphicon {
                width: 50px;
                height: 130px;
                top: 40%;
                background: url("../../../images/arrow-right.png") no-repeat;

                &::before {
                    content: "";
                }
            }
        }
    }
}

.marquee {
    background-color: $primaryColor;
    color: $white;
    height: 35px;

    marquee {
        line-height: 35px;
        display: flex;

        a {
            color: $white;
            text-decoration: underline;
        }
    }
}

.slogin {
    background-color: $supernova;
    padding: 20px 0;

    @media only screen and (max-width: 768px) {
        padding: 20px 0;
    }

    .slogin-title {
        p {
            margin-bottom: 0;
            font-size: 20px;
            font-family: $robotoCondesed;
            text-transform: uppercase;
            color: $white;

            @media only screen and (max-width: 768px) {
                font-size: 16px;
                text-align: justify;
            }
        }

        a {
            color: $white;
            font-size: 20px;
            font-family: $robotoCondesed;
            font-weight: bold;
            text-transform: uppercase;

            @media only screen and (max-width: 768px) {
                font-size: 16px;
                text-align: center;
                display: block;
            }
        }
    }
}

.prices-table {
    position: relative;

    &::after {
        content: "";
        background: url("../../assets/images/background-price-table.jpg") repeat-y 50%;
        background-attachment: fixed;
        opacity: 0.3;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .marketing {
        padding-top: 30px;
    
        .col-md-3 {
            margin: 20px 0;
            
            /* Small Devices, Tablets */
            @media only screen and (max-width : 768px) {
                margin: 5px 0;
            }
    
            .intro {
                text-align: center;
    
                .img {
                    height: 250px;
                    width: 250px;
                    border: 1px solid $primaryColor;
                    border-radius: 50%;
                    margin: 0 auto;
                    padding: 10px;
    
                    .mid-img {
                        width: 230px;
                        height: 230px;
                        border: 5px solid $primaryColor;
                        border-right-color: $supernova;
                        border-bottom-color: $supernova;
                        border-radius: 50%;
                        -webkit-transition: all .5s ease-in-out;
                        -moz-transition: all .5s ease-in-out;
                        transition: all .5s ease-in-out;
                        z-index: 2;
                        margin: auto;
                        overflow: hidden;

                        &:hover {
                            border-left-color: $supernova;
                            border-top-color: $supernova;
                        }
    
                        .center-img {
                            width: 220px;
                            height: 220px;
    
                            img {
                                margin: auto;
                                height: 100%;
                                width: 100%;
                                transition: 0.6s ease;

                                &:hover {
                                    transform: scale(1.4);
                                }
                            }
                        }
                    }
                }
    
                .text {
                    font-family: $robotoCondesed;
                    padding: 15px 0;
                    font-size: 20px;
                    text-transform: uppercase;
                    line-height: 26px;
    
                    a {
                        &:hover {
                            text-decoration: none;
                            color: $black;
                        }
                    }
                }
            }
        }
    }
}

.why-choose-us {
    background-image: url("../../assets/images/background-why-choose-us.jpg");
    background-position: center center;
    padding: 50px 0;

    .row {
        .why-choose-us-title {
            padding: 30px 0;
            color: #3c3950;
            margin: 0;
        }

        .media {
            .media-left {
                span {
                    display: block;
                    width: 70px;
                    height: 70px;
                    text-align: center;
                    font-size: 3em;
    
                    i {
                        margin-right: 0;
                        color: $supernova;
                        vertical-align: top;
                    }
                }
            }
    
            .media-body {
                h2 {
                    font-size: 18px;
                    font-weight: 600;
                    margin-bottom: 8px;
                }
    
                .marketing-container {
                    font-size: 16px;
                    line-height: 24px;
                }
            }
        }
    }

    .row-why-choose-us-1 {
        .media {
            padding-bottom: 40px;

            @media only screen and (max-width : 768px) {
                padding-bottom: 15px;
            }
        }
    }

    .row-why-choose-us-2 {
        .media {
            @media only screen and (max-width : 768px) {
                padding-bottom: 15px;
            }
        }
    }
}

.title-list-news-items {
    h1 {
        font-size: 32px;
        margin: 30px 0 15px;
        color: #3c3950;

        @media only screen and (max-width : 768px) {
            position: relative;
        }

        &::before {
            content: '';
            display: inline-block;
            width: 180px;
            height: 1px;
            background-color: rgba(252,189,19,0);
            background-image: -webkit-gradient(linear,left top,right top,from(rgba(252,189,19,0)),color-stop(50%,$selectiveYellow),to(rgba(252,189,19,0)));
            background-image: linear-gradient(to right,rgba(252,189,19,0),$selectiveYellow 50%,rgba(252,189,19,0));
            vertical-align: middle;

            @media only screen and (max-width: 767.98px) {
                position: absolute;
                left: 35%;
                bottom: -5px;
                height: 2px;
                width: 100px;
            }

            @media only screen and (min-width: 768px) and (max-width : 1024px) {
                position: absolute;
                left: 43%;
                bottom: -5px;
                height: 2px;
                width: 100px;
            }
        }

        &::after {
            content: '';
            display: inline-block;
            width: 180px;
            height: 1px;
            background-color: rgba(252,189,19,0);
            background-image: -webkit-gradient(linear,left top,right top,from(rgba(252,189,19,0)),color-stop(50%,$selectiveYellow),to(rgba(252,189,19,0)));
            background-image: linear-gradient(to right,rgba(252,189,19,0),$selectiveYellow 50%,rgba(252,189,19,0));
            vertical-align: middle;

            @media only screen and (max-width : 768px) {
                display: none;
            }
        }

        img {
            height: 25px;
            vertical-align: baseline;
            margin-right: 10px;
        }
    }

    p {
        text-align: center;
        font-style: italic;
        margin-bottom: 30px;
    }
}

.list-news-items {
    .news-item {
        margin-bottom: 30px;

        .news-item-wrapper {
            background: $white;

            &:hover {
                .media-thumb {
                    .img-thumbnail {
                        transform: scale(1.5);
                    }

                    a {
                        opacity: 1;

                        i {
                            -webkit-transform: translate(-50%, -50%) rotate(0);
                            -moz-transform: translate(-50%, -50%) rotate(0);
                            -ms-transform: translate(-50%, -50%) rotate(0);
                            transform: translate(-50%, -50%) rotate(0);
                        }
                    }
                }
            }

            .media-thumb {
                display: block;
                height: 220px;
                overflow: hidden;
                position: relative;

                @media only screen and (max-width : 768px) {
                    height: 250px;
                }

                .img-thumbnail {
                    padding: 0px;
                    border-radius: 0px;
                    border: none;
                    width: 100%;
                    height: 100%;
                    transition: 0.6s ease;
                }

                a {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    background-color: rgba(0, 0, 0, 0.5);
                    overflow: hidden;
                    opacity: 0;
                    -webkit-transition: all 0.4s ease;
                    -moz-transition: all 0.4s ease;
                    -ms-transition: all 0.4s ease;
                    transition: all 0.4s ease;

                    i {
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 50px;
                        height: 50px;
                        line-height: 46px;
                        font-size: 1.3em;
                        border: 2px solid #fff;
                        color: #fff;
                        text-align: center;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        -ms-border-radius: 50%;
                        border-radius: 50%;
                        -webkit-transform: translate(-50%, -50%) rotate(270deg);
                        -moz-transform: translate(-50%, -50%) rotate(270deg);
                        -ms-transform: translate(-50%, -50%) rotate(270deg);
                        transform: translate(-50%, -50%) rotate(270deg);
                        -webkit-transition: all 0.4s ease;
                        -moz-transition: all 0.4s ease;
                        -ms-transition: all 0.4s ease;
                        transition: all 0.4s ease;
                    }
                }
            }
    
            .media-body {
                padding: 0 0 15px;

                h5 {
                    font-family: $robotoCondesed;
                    font-size: 16px;
                    font-weight: bold;
                    text-transform: uppercase;
                    margin: 15px 0 10px 0;
                    min-height: 52px;

                    @media only screen and (max-width: 767.98px) {
                        min-height: auto;
                        margin-bottom: 10px;
                    }
    
                    a {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        line-height: 26px;
                        max-height: 60px;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        color: #3c3950;
                        text-align: center;
    
                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
    
                p {
                    font-size: 16px;
                    margin-bottom: 0;
                    line-height: 24px;
                    text-align: justify;
                    color: #353535;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                }
            }
        }
    }
}

.y-kien-khach-hang {
    position: relative;
    padding: 40px 0;

    &::after {
        content: "";
        background: url("../../assets/images/construction_clients_background.jpg") repeat-y 50%;
        background-attachment: fixed;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    h2 {
        color: #3c3950;
    }

    .media-wrapper {
        text-align: center;
        margin: 20px 0;

        .media {
            display: inline-block;
            padding: 0 10px;
        }
    }
}