@import "~bootswatch/flatly/variables";
@import "bootstrap-tagsinput.scss";

/*===========================================================================
 * Listing page
 ============================================================================*/
.table {
    td .images-container {
        img {
            border: 2px solid #e2e2e2;
        }
    }

    td .item-actions {
        .btn-edit,
        .btn-reply {
            padding: 5px 3px;
        }

        .modal.fade {
            opacity: 1;
        }

        #delete-form {
            display: inline-block;

            button {
                border: none;
                background: none;
                padding: 0;
            }
        }
    }
}

.content {
    .add {
        .stat-widget-one .stat-content {
            margin-top: 15px;
        }
        
        .stat-widget-one .stat-text {
            font-size: 20px;
        }
    }
}

/*===========================================================================
 * 
============================================================================*/
#news {
    .form-group {
        label.control-label {
            font-weight: 600;
        }
    }

    #news_category {
        height: 190px;
        padding-left: 20px;
        overflow-y: scroll;

        .checkbox {
            a {
                font-style: italic;
                text-decoration: underline;
            }

            label.label-primary {
                margin-left: 50px;
                font-size: 16px;
            }
        }
    }
}