.title-list-news-items {
    h1 {
        font-size: 32px;
        margin: 10px 0 15px;
        color: #0053a5;

        @media only screen and (max-width : 768px) {
            position: relative;
            font-size: 28px;
            margin: 15px 0 15px;
        }

        &::before {
            content: '';
            display: inline-block;
            width: 180px;
            height: 1px;
            background-color: rgba(252,189,19,0);
            background-image: -webkit-gradient(linear,left top,right top,from(rgba(252,189,19,0)),color-stop(50%,$primaryColor),to(rgba(252,189,19,0)));
            background-image: linear-gradient(to right,rgba(252,189,19,0),$primaryColor 50%,rgba(252,189,19,0));
            vertical-align: middle;

            @media only screen and (max-width: 767.98px) {
                position: absolute;
                left: 35%;
                bottom: -5px;
                height: 2px;
                width: 100px;
            }

            @media only screen and (min-width: 768px) and (max-width : 1024px) {
                position: absolute;
                left: 43%;
                bottom: -5px;
                height: 2px;
                width: 100px;
            }
        }

        &::after {
            content: '';
            display: inline-block;
            width: 180px;
            height: 1px;
            background-color: rgba(252,189,19,0);
            background-image: -webkit-gradient(linear,left top,right top,from(rgba(252,189,19,0)),color-stop(50%,$primaryColor),to(rgba(252,189,19,0)));
            background-image: linear-gradient(to right,rgba(252,189,19,0),$primaryColor 50%,rgba(252,189,19,0));
            vertical-align: middle;

            @media only screen and (max-width : 768px) {
                display: none;
            }
        }

        i {
            font-size: 16px;
            vertical-align: middle;
            margin-top: -5px;
            margin-right: 0;
            color: #df0006;
        }

        a {
            color: #0053a5;
            text-decoration: none;
        }
    }

    p {
        text-align: center;
        font-style: italic;
        width: 75%;
        margin: 0 auto 30px;

        @media only screen and (max-width : 768px) {
            width: 100%;
        }
    }
}

.list-news-items {
    .news-item {
        margin-bottom: 30px;

        @media only screen and (max-width : 768px) {
            margin-bottom: 10px;
        }

        &.d-none {
            @media (min-width: 768px) and (max-width: 991.98px) {
                display: none;
            }
        }

        .news-item-wrapper {
            box-sizing: border-box;
            transition: all 200ms ease-out 0s;
            -webkit-transition: all 200ms ease-out 0s;
            -ms-transition: all 200ms ease-out 0s;
            -o-transition: all 200ms ease-out 0s;
            vertical-align: top;
            word-wrap: break-word;
            list-style: none;
            margin: 0;
            background: #1773c2;
            margin-bottom: 30px;

            @media only screen and (min-width: 979.98px) {
                &:hover {
                    .media-thumb {
                        .img-thumbnail {
                            transform: scale(1.5);
                        }

                        a {
                            opacity: 1;

                            i {
                                -webkit-transform: translate(-50%, -50%) rotate(0);
                                -moz-transform: translate(-50%, -50%) rotate(0);
                                -ms-transform: translate(-50%, -50%) rotate(0);
                                transform: translate(-50%, -50%) rotate(0);
                            }
                        }
                    }

                    background: #1773c2;
                    opacity: 0.9
                }
            }

            .media-thumb {
                display: block;
                height: 220px;
                overflow: hidden;
                position: relative;

                @media only screen and (max-width : 767.98px) {
                    height: 250px;
                }

                @media (min-width: 768px) and (max-width: 991.98px) {
                    height: 200px;
                }

                .img-thumbnail {
                    padding: 0px;
                    border-radius: 0px;
                    border: none;
                    width: 100%;
                    height: 100%;
                    transition: 0.6s ease;
                }

                a {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    background-color: rgba(0, 0, 0, 0.5);
                    overflow: hidden;
                    opacity: 0;
                    -webkit-transition: all 0.4s ease;
                    -moz-transition: all 0.4s ease;
                    -ms-transition: all 0.4s ease;
                    transition: all 0.4s ease;

                    i {
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 50px;
                        height: 50px;
                        line-height: 46px;
                        font-size: 1.3em;
                        border: 2px solid #fff;
                        color: #fff;
                        text-align: center;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        -ms-border-radius: 50%;
                        border-radius: 50%;
                        -webkit-transform: translate(-50%, -50%) rotate(270deg);
                        -moz-transform: translate(-50%, -50%) rotate(270deg);
                        -ms-transform: translate(-50%, -50%) rotate(270deg);
                        transform: translate(-50%, -50%) rotate(270deg);
                        -webkit-transition: all 0.4s ease;
                        -moz-transition: all 0.4s ease;
                        -ms-transition: all 0.4s ease;
                        transition: all 0.4s ease;
                    }
                }
            }
    
            .media-body {
                padding: 0 10px 20px;

                h5 {
                    font-family: $robotoCondesed;
                    font-size: 20px;
                    font-weight: bold;
                    margin: 15px 0 10px 0;
                    min-height: 54px;

                    @media only screen and (max-width: 767.98px) {
                        min-height: auto;
                        margin-bottom: 10px;
                    }
    
                    a {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        line-height: 26px;
                        max-height: 60px;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        color: $white;
                        text-align: center;
    
                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
    
                p {
                    font-size: 17px;
                    font-family: $robotoCondesed;
                    margin-bottom: 0;
                    line-height: 26px;
                    min-height: 78px;
                    text-align: center;
                    color: $white;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                }
            }
        }
    }
}

.project-hot {
    margin: 0;

    @media only screen and (max-width: 767.98px) {
        margin: 0;
    }

    .title-list-news-items {
        h1 {
            margin: 30px 0 10px;

            @media only screen and (max-width : 768px) {
                font-size: 28px;
                margin: 15px 0 15px;
            }
        }

        .block-underline {
            margin-bottom: 30px;
        }
    }

    .list-news-items {
        .bx-wrapper {
            border: none;
            margin-bottom: 0;
            box-shadow: none;

            @media only screen and (min-width: 979.98px) {
                max-width: 1260px !important;
            }

            .bx-viewport {
                height: 100% !important;

                .news-item {
                    @media only screen and (min-width: 768px) {
                        width: initial !important;
                    }
    
                    .news-item-wrapper {
                        width: 277.5px !important;
    
                        @media only screen and (max-width: 767.98px) {
                            width: 100% !important;
                        }
    
                        @media (min-width: 768px) and (max-width: 979.98px) {
                            width: 220px !important;
                        }
                    }
                }
            }

            .bx-controls {
                .bx-controls-direction {
                    .bx-prev {
                        width: 40px;
                        height: 120px;
                        top: 35%;
                        left: 0;
                        background: url("../../../images/arrow-left.png") no-repeat;
                        background-color: rgba(0, 0, 0, 0.3);
                        background-size: 40px;
                    }

                    .bx-next {
                        width: 40px;
                        height: 120px;
                        top: 35%;
                        right: 0;
                        background: url("../../../images/arrow-right.png") no-repeat;
                        background-color: rgba(0, 0, 0, 0.3);
                        background-size: 40px;
                    }
                }
            }
        }
    }
}